@mixin dark-base() {
  $bg-main: $black;
  $bg-alt: $not-so-black;
  $bg-bright: $dark-grey;
  $text-base: $light-grey;
  $text-bright: $not-so-white;
  $text-dim: $alt-grey;
  $text-inactive: $disabled;
  $border: $dark-grey;
  $scrollbar: $grey;
  $white: $white;
  $accent: $sky-blue;
  $highlight-bg: $dull-blue;
  $highlight-text: $transparent-blue;
  color: $text-base;

  a {
    color: $white;
  }

  #app-frame {
    background-color: rgba($bg-main, 0.3);
  }

  #toolbar,
  #toolbar-nav,
  .bani-list,
  .ceremony-pane,
  .sync-content-wrapper,
  .zoom-content-wrapper,
  .settings-container {
    background-color: $bg-alt;
    .sttm-loader {
      border-color: $bg-bright;
      border-top-color: $accent;
    }
  }

  .viewer-controls {
    background-color: $bg-main;
  }

  #header {
    a {
      color: $text-base;

      &:hover,
      &.active {
        background-color: $bg-alt;
      }
    }
  }

  .pane-header,
  .misc .navigator-header,
  .more-tabs .nav-header-tab,
  .settings-nav,
  .clear-pane {
    background-color: $bg-main;
    color: $text-base;
  }

  .misc-pane {
    .misc-header {
      a {
        color: $grey;
      }
      .misc-active {
        color: $white;
      }
    }
  }
  .pane-content {
    background-color: $bg-alt;
  }
  .control-item:hover {
    background-color: $bg-main;
  }

  .announcement-text {
    background-color: $bg-alt;
    color: $white;
  }

  .slide#announcement-slide .announcements {
    color: $white;
  }
  .search-footer {
    background: $bg-main;
  }
  .search-pane {
    .pane {
      .pane-footer {
        background-color: $not-so-black;
      }
    }
  }

  .pane-footer {
    .clear-pane {
      background-color: $black;
      .footer-toggler-inactive {
        background: darken($bg-main, 10);
      }
      .footer-toggler {
        background-color: $bg-alt;
      }
    }
    .shortcut-drawer-active {
      background: darken($bg-main, 10);
    }
  }
  .tray-item-icon {
    background: $text-bright;
  }
  .tray-item-icon {
    color: $bg-main;
  }
  &.shortcut-tray-true .shortcut-toggle {
    background: darken($bg-main, 10);
  }

  .nav-header-tab {
    color: $text-inactive;

    &.active {
      color: $text-base;
    }
  }

  #gurmukhi-keyboard {
    background-color: $bg-main;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $bg-alt;
  }

  #gurmukhi-keyboard button {
    color: $text-base;
  }

  #toolbar,
  #toolbar-nav {
    background: $bg-alt;
  }

  .pane,
  .takeover-page {
    background: $bg-main;

    h2 {
      border-top: 1px $border solid;
      color: $text-dim;
    }

    h2:first-child {
      border-top: none;
    }
  }

  .pane {
    a.panktee.current {
      background-color: $highlight-bg !important;
      color: $text-base !important;

      & + i {
        background-color: $highlight-bg !important;
        color: $text-base !important;
      }
    }
  }

  .switch > label {
    background: $text-dim;
  }

  .switch > label::after {
    background: $text-bright;
    border-color: $text-dim;
  }

  .switch input:checked + label {
    background: $accent;
  }

  .switch input:checked + label::after {
    background: $white;
    border-color: $accent;
  }

  .search-content {
    .input-box {
      color: $text-bright;
    }
    input {
      color: $text-bright;

      &[type='number'] {
        background-color: white;
        color: $bg-main;

        &::-webkit-input-placeholder {
          color: $bg-main;
        }
      }
    }

    input:focus + div {
      background: rgba(255, 255, 255, 0.12);
    }

    > button {
      color: $text-bright;
    }
  }

  .search-container:focus {
    background: white;
  }
  .filters {
    select {
      border: $bg-main;
      color: $bg-main;

      option {
        background-color: $bg-main;
        color: $white;
      }
    }
  }

  .panktee {
    color: $text-base;
  }

  .panktee.search-result span.gurmukhi span.highlight {
    color: #fff;
  }

  .result-list ul li {
    a {
      color: $text-base;
    }
    &:hover {
      background-color: $bg-bright;
      cursor: pointer;
    }
  }

  .history-results {
    .history-item:hover {
      background-color: $bg-bright;
    }
  }

  #footer {
    background-color: $bg-main;

    a {
      color: $text-base;

      &.active,
      &:hover {
        background-color: $bg-alt;
      }

      &.active {
        color: $highlight-text;
      }
    }
  }
  .workspace-bar {
    background-color: $bg-main;
    div:hover {
      color: $text-base;
      background-color: $bg-bright;
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
  }
}
