@mixin dark-base() {
  $bg-main: $black;
  $bg-alt: $not-so-black;
  $bg-bright: $dark-grey;
  $text-base: $light-grey;
  $text-bright: $not-so-white;
  $text-dim: $alt-grey;
  $text-inactive: $disabled;
  $border: $dark-grey;
  $scrollbar: $grey;
  $white: $white;
  $accent: $sky-blue;
  $highlight-bg: $dull-blue;
  $highlight-text: $transparent-blue;
  color: $text-base;

  #toolbar,
  .bani-list,
  .ceremonies-list,
  .ceremony-pane {
    background-color: $bg-alt;
  }

  .viewer-controls {
    background-color: $bg-main;
  }

  #header {
    a {
      color: $text-base;

      &:hover,
      &.active {
        background-color: $bg-alt;
      }
    }
  }

  .navigator-header,
  .more-tabs .nav-header-tab {
    background-color: $bg-main;
    color: $text-base;
  }

  .announcement-text {
    border: 1px solid $white;
    color: $white;
  }

  .shortcut-tray {
    background: darken($bg-main, 10);
  }
  .tray-item-icon {
    background: $text-bright;
  }
  .tray-item-label {
    color: $bg-main;
  }
  &.shortcut-tray-on .shortcut-toggle {
    background: darken($bg-main, 10);
  }

  .nav-header-tab {
    color: $text-inactive;

    &.active {
      color: $text-base;
    }
  }

  #gurmukhi-keyboard {
    background-color: $bg-main;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $bg-alt;
  }

  #gurmukhi-keyboard button {
    color: $text-base;
  }

  #toolbar {
    background: $bg-alt;
  }

  .nav-page,
  .takeover-page {
    background: $bg-alt;

    h2 {
      border-top: 1px $border solid;
      color: $text-dim;
    }

    h2:first-child {
      border-top: none;
    }
  }

  .nav-page {
    a.panktee.current {
      background-color: $highlight-bg !important;
      color: $text-base !important;
    }
  }

  .switch > label {
    background: $text-dim;
  }

  .switch > label::after {
    background: $text-bright;
    border-color: $text-dim;
  }

  .switch input:checked + label {
    background: $accent;
  }

  .switch input:checked + label::after {
    background: $white;
    border-color: $accent;
  }

  #search-container {
    input {
      color: $text-bright;

      &[type='number'] {
        background-color: $white;
        color: $bg-main;

        &::-webkit-input-placeholder {
          color: $bg-main;
        }
      }
    }

    input:focus + div {
      background: rgba(255, 255, 255, 0.12);
    }

    > button {
      color: $text-bright;
    }
  }

  #search-container:focus {
    background: white;
  }

  #search-options select {
    border: $bg-main;
    color: $text-bright;

    option {
      background-color: $bg-main;
    }
  }

  .panktee {
    color: $text-base;
  }

  .block-list {
    li {
      > a,
      > span,
      > label {
        color: $text-base;

        &:hover {
          background-color: $bg-bright;
          cursor: pointer;
        }
      }
    }
  }

  #footer {
    background-color: $bg-main;

    a {
      color: $text-base;

      &.active,
      &:hover {
        background-color: $bg-alt;
      }

      &.active {
        color: $highlight-text;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 6px;
  }
}
