@mixin light-base() {
  $logo: $not-so-white;
  $border: $dark-grey;
  $statusbar-bg: $not-so-white;
  $nav-bg: $extra-light-grey;
  $alt-bg: $snow-white;
  $dialog-bg: $white;
  $base-text: $dark-grey;
  $base-text-inactive: $disabled-dark;
  $text-shadow: 1px 1px 2px rgba($black, 0.3);
  $shadow-filter: drop-shadow(2px 2px 2px rgba($white, 0.7));
  $current-focus: $transparent-blue;
  $active-focus: $sky-blue;
  $scrollbar-bg: $light-grey;

  .logo {
    path {
      fill: $logo;
    }
  }

  .announcement-text {
    border: 1px solid $dark-grey;
    color: $black;
  }

  .controller.presenter-view {
    #viewer {
      border-color: $border;
    }
  }

  #toolbar,
  .bani-list,
  .ceremonies-list,
  .ceremony-pane {
    background-color: $nav-bg;
  }

  .viewer-controls {
    background-color: $nav-bg;
  }

  #toolbar,
  .bani-list,
  .ceremonies-list,
  .ceremony-pane {
    background-color: $nav-bg;
  }

  .viewer-controls {
    background-color: $nav-bg;
  }

  .deck {
    text-shadow: $text-shadow;
  }

  .deck .gurbani {
    -webkit-filter: $shadow-filter;
  }

  #header {
    a {
      color: $base-text;

      &:hover,
      &.active {
        background-color: $dialog-bg;
      }
    }
  }

  .navigator-header,
  .more-tabs .nav-header-tab {
    background-color: $statusbar-bg;
    color: $base-text;
  }

  .shortcut-tray {
    background: $alt-bg;
  }
  .tray-item-icon {
    background: lighten($base-text, 30);
  }
  .tray-item-label {
    color: $nav-bg;
  }
  &.shortcut-tray-on .shortcut-toggle {
    background: $alt-bg;
  }

  .nav-header-tab {
    color: $base-text-inactive;

    &.active {
      color: $base-text;
    }
  }

  #gurmukhi-keyboard {
    background-color: $nav-bg;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $alt-bg;
  }

  #gurmukhi-keyboard button {
    color: $base-text;
  }

  #toolbar {
    background-color: $nav-bg;
  }

  .nav-page {
    background-color: $nav-bg;

    a.panktee.current {
      background-color: $current-focus !important;
      color: $base-text !important;
    }
  }

  .takeover-page {
    background-color: $dialog-bg;
  }

  #search-container {
    input {
      color: $base-text;

      &[type='number'] {
        background-color: $border;
        color: $dialog-bg;

        &::-webkit-input-placeholder {
          color: $dialog-bg;

          @extend .gurmukhi;
        }
      }
    }

    input:focus + div {
      background: $dialog-bg;
    }

    > button {
      color: $base-text;
    }
  }

  .panktee.search-result .gurmukhi {
    color: $base-text;
  }

  .block-list {
    li {
      > a,
      > span,
      > label {
        color: $base-text;

        &:hover {
          background-color: $nav-bg;
          cursor: pointer;
        }
      }
    }
  }

  #footer {
    background-color: $statusbar-bg;

    a {
      color: $base-text;

      &.active,
      &:hover {
        background-color: $nav-bg;
      }

      &.active {
        color: $active-focus;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 6px;
  }
}
