@mixin light-base() {
  $logo: $not-so-white;
  $border: $dark-grey;
  $statusbar-bg: $not-so-white;
  $nav-bg: $extra-light-grey;
  $alt-bg: $snow-white;
  $dialog-bg: $white;
  $base-text: $dark-grey;
  $base-text-inactive: $disabled-dark;
  $text-shadow: 1px 1px 2px rgba($black, 0.3);
  $shadow-filter: drop-shadow(2px 2px 2px rgba($white, 0.7));
  $current-focus: $transparent-blue;
  $active-focus: $sky-blue;
  $scrollbar-bg: $light-grey;

  a {
    color: $black;
  }

  .logo {
    path {
      fill: $logo;
    }
  }

  #app-frame {
    background-color: rgba($snow-white, 0.3);
  }

  .lock-screen-message {
    color: white;
  }

  #announcements-slide .announcements {
    color: $black;
  }

  .announcement-text {
    border: 1px solid $dark-grey;
    color: $black;
  }

  .controller.presenter-view {
    #viewer {
      border-color: $border;
    }
  }

  #toolbar,
  #toolbar-nav,
  .bani-list,
  .ceremony-pane,
  .sync-content-wrapper,
  .zoom-content-wrapper,
  .settings-container {
    background-color: $nav-bg;
    .sttm-loader {
      border-color: $alt-bg;
      border-top-color: $active-focus;
    }
  }

  .workspace-bar {
    background-color: $dialog-bg;
    div:hover {
      background-color: $nav-bg;
    }
  }

  .viewer-controls {
    background-color: $nav-bg;
  }

  .deck {
    text-shadow: $text-shadow;
  }

  .deck .gurbani {
    -webkit-filter: $shadow-filter;
  }

  #header {
    a {
      color: $base-text;

      &:hover,
      &.active {
        background-color: $dialog-bg;
      }
    }
  }

  .pane-header,
  .navigator-header,
  .more-tabs .nav-header-tab,
  .settings-nav {
    background-color: $statusbar-bg;
    color: $base-text;
  }

  .control-item:hover {
    background-color: $statusbar-bg;
  }
  .misc-pane {
    .misc-header {
      a {
        color: $grey;
      }
      .misc-active {
        color: $dark-grey;
      }
    }
    .pane-footer {
      background-color: $alt-bg;
      .clear-pane {
        background-color: $not-so-white;
        .footer-toggler-inactive {
          background-color: $alt-bg;
        }
        .footer-toggler {
          background-color: $nav-bg;
        }
      }
    }
  }

  .search-pane {
    .pane {
      .pane-footer {
        background-color: transparent;
      }
      .search-footer {
        background-color: $statusbar-bg;
      }
    }
  }

  .pane-footer {
    background: $statusbar-bg;
  }
  .tray-item-icon {
    background: lighten($base-text, 30);
  }
  .tray-item-icon {
    color: $nav-bg;
  }
  &.shortcut-tray-true .shortcut-toggle {
    background: $alt-bg;
  }

  .nav-header-tab {
    color: $base-text-inactive;

    &.active {
      color: $base-text;
    }
  }

  #gurmukhi-keyboard {
    background-color: $nav-bg;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $alt-bg;
  }

  #gurmukhi-keyboard button {
    color: $base-text;
  }

  #toolbar,
  #toolbar-nav {
    background-color: $nav-bg;
  }

  .pane {
    background-color: $nav-bg;
    color: $base-text !important;
    a.panktee.current {
      background-color: $current-focus !important;
      color: $base-text !important;

      & + i {
        background-color: $current-focus !important;
        color: $base-text !important;
      }
    }
  }

  .takeover-page {
    background-color: $dialog-bg;
  }

  .search-content {
    background-color: $statusbar-bg;
    color: $base-text;
    .input-box {
      color: $black;
    }
    input {
      color: $base-text;

      &[type='number'] {
        background-color: $border;
        color: $dialog-bg;

        &::-webkit-input-placeholder {
          color: $black;

          @extend .gurmukhi;
        }
      }
    }

    input:focus + div {
      background: $dialog-bg;
    }

    > button {
      color: $base-text;
    }
  }

  .panktee.search-result .gurmukhi {
    color: $base-text;
    .highlight {
      color: $black;
    }
  }

  .result-list ul {
    li {
      width: 100%;
      color: $base-text;

      &:hover {
        background-color: $statusbar-bg;
        cursor: pointer;
      }
    }
  }

  .history-results {
    .history-item:hover {
      background-color: $statusbar-bg;
    }
  }

  #footer {
    background-color: $statusbar-bg;

    a {
      color: $base-text;

      &.active,
      &:hover {
        background-color: $nav-bg;
      }

      &.active {
        color: $active-focus;
      }
    }
  }
}
