@import 'light-base';
@import 'dark-base';

@mixin vishraamStyles($visraam, $yamki) {
  $visraam-main: $visraam;
  $visraam-yamki: $yamki;

  .slide-gurbani.vishraam-gradient {
    span {
      span.vishraam-y {
        border-radius: 15px;
        background: linear-gradient(
          to right,
          rgba(229, 229, 229, 0) 20%,
          rgba($visraam-main, 0.7) 100%
        );
      }

      span.vishraam-v {
        border-radius: 15px;
        background: linear-gradient(
          to right,
          rgba(229, 229, 229, 0) 20%,
          rgba($visraam-yamki, 0.7) 100%
        );
      }
    }
  }

  .slide-gurbani.vishraam-colored {
    span {
      span.vishraam-y {
        color: $visraam-main;
      }

      span.vishraam-v {
        color: $visraam-yamki;
      }
    }
  }

  .slide-gurbani.larivaar-assist-single-color {
    .larivaar {
      span:nth-of-type(even) {
        opacity: 0.75 !important;
      }
    }
  }

  .slide-gurbani.larivaar-assist-multi-color {
    .larivaar {
      span:nth-of-type(even) {
        color: $yamki !important;
      }
    }
  }
}

@mixin generateTheme(
  $type,
  $background-color,
  $background-image,
  $gurbani,
  $translation,
  $teeka,
  $transliteration,
  $visraam,
  $yamki
) {
  @if $type == 'light' {
    @include light-base();
  } @else {
    @include dark-base();
  }

  background-color: $background-color;
  background-image: $background-image;

  .slide-gurbani {
    color: $gurbani;
  }

  .slide-translation {
    color: $translation;
  }

  .slide-teeka {
    color: $teeka;
  }

  .slide-transliteration {
    color: $transliteration;
  }

  @include vishraamStyles($visraam, $yamki);
}
