/* Color Pallete */
$black: #212121;
$not-so-black: #3a3a3a;

$dark-grey: #424242;
$grey: #999;
$alt-grey: #9e9e9e;

$disabled: rgba(189, 189, 189, 0.5);

$sky-blue: #4fc3f7;
$dull-blue: #37474f;

$white: #fff;
$not-so-white: #e0e0e0;
