/* Color Pallete */
$black: #212121;
$not-so-black: #3a3a3a;
$transparent-black: rgba(0, 0, 0, 0.16);
$transparent-light-black: rgba(0, 0, 0, 0.08);

$extra-light-grey: #f5f5f5;
$light-grey: #bdbdbd;
$lighter-grey: #cacaca;
$dark-grey: #424242;
$darker-grey: #797979;
$mild-dark: #838382;
$grey: #999;
$alt-grey: #9e9e9e;

$disabled: rgba(189, 189, 189, 0.5);
$disabled-light: rgba(221, 221, 221, 1);
$disabled-dark: rgba(78, 78, 78, 0.5);

$sky-blue: #4fc3f7;
$light-blue-30: rgba(96, 200, 255, 0.3);
$dull-blue: #37474f;

$white: #fff;
$snow-white: #fafafa;
$not-so-white: #e0e0e0;

$transparent-blue: #cfd8dc;
$red: #de636f;

$light-green: #27ae60;
