.gurbani-pane {
  left: 100px;
  top: calc(50% + 52.5px);
  position: fixed;
  display: block;
  position: fixed;
  transition: 0.5s height ease;
  height: calc(50% - calc(25px * 1.5) - 25px);
  width: calc(calc(50% - 37.5px) - calc(25px * 1.5));
}
