{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-mixed-operators": "off",
    "arrow-parens": ["warn", "as-needed"]
  },
  "settings": {
    "import/core-modules": "electron"
  }
}
