{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "no-mixed-operators": "off",
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": "off"
  },
  "settings": {
    "import/core-modules": "electron"
  }
}
