{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-mixed-operators": "off"
  },
  "settings": {
    "import/core-modules": "electron"
  }
}
