os: osx
osx_image: xcode8

sudo: required
branches:
  only:
    - release
    - master
    - dev
git:
  submodules: false
language: node_js
node_js: '10'
cache:
  directories:
    - $HOME/.electron
before_install:
  - if [ "$TRAVIS_BRANCH" = "release" ]; then openssl aes-256-cbc -K $encrypted_fec05b564c85_key -iv $encrypted_fec05b564c85_iv
    -in id_rsa.enc -out packaging/id_rsa -d; fi
script:
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then npm test; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then npm test && ./packaging/release --branch=$TRAVIS_BRANCH --dist=mac --platform=mac --token=$GH_TOKEN; fi'
