.pane {
  position: relative;
  overflow: hidden;
  min-height: 470px;
  min-width: 500px;
  width: 100%;
  height: calc(100%-110px);
  transition: 0.5s height ease;
  i {
    cursor: pointer;
  }
}
.pane-header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0 10px;
}
.pane-content {
  display: flex;
  max-height: 400px;
  transition: height 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 5;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.pane-footer {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  top: auto;
  z-index: 10;
}
.icon-button {
  background-color: #e1802f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
  color: #fff;
  font-size: 26px;
  width: 40px;
  i {
    padding-bottom: 2px;
  }
}

.input-box {
  align-content: center;
}

.verse-block {
  z-index: 5;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 380px;
  .result-list {
    transition: height 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.5s height ease;
    font-size: 1rem;
    ul {
      list-style-type: none;
      line-height: 1;
      user-select: none;
      .shabadPane-list {
        padding: 10px;
        .shabadPane-controls {
          display: inline-flex;
          width: 8%;
          justify-content: center;
          align-items: center;
          i {
            font-size: 1rem;
          }
        }
      }
      .shabadPane-active {
        background-color: aqua;
      }
      li {
        position: relative;
        cursor: pointer;
        padding: 10px;
        font-size: 1rem;
        a {
          padding: 10px;
          font-size: 1rem;
        }
      }
      .historyPane-controls {
        position: absolute;
        right: 20px;
      }
    }
  }
}
