<div id="slide10" class="slide">
  <h1 class="gurbani gurmukhi">
    <div>
      <span class="padchhed"
        ><span>hukim</span> <span>rjweI</span>
        <span class="visraam-main visraam-sttm visraam-igurbani visraam-sttm2">clxw</span>
        <span class="visraam-yamki visraam-sttm visraam-igurbani visraam-sttm2">nwnk</span>
        <span>iliKAw</span> <span><span>nwil</span><i> </i><span>]1]</span></span></span
      >
      <span class="larivaar"
        ><span>hukim</span><wbr /><span>rjweI</span><wbr /><span
          class="visraam-main visraam-sttm visraam-igurbani visraam-sttm2"
          >clxw</span
        ><wbr /><span class="visraam-yamki visraam-sttm visraam-igurbani visraam-sttm2">nwnk</span
        ><wbr /><span>iliKAw</span><wbr /><span
          ><span>nwil</span><i> </i><span>]1]</span></span
        ></span
      >
    </div>
  </h1>
  <h2 class="translation">
    <div>
      <div class="english-translation transtext">
        O Nanak, it is written that you shall obey the Hukam of His Command, and walk in the Way of
        His Will. ||1||
      </div>
      <div class="spanish-translation transtext">
        Oh, dice Nanak, cuando por Su Gracia nuestro Destino es prefecto y vivimos en el Jukam de Su
        Voluntad, el velo de la ilusión es levantado. (1)
      </div>
    </div>
  </h2>
  <h2 class="teeka">
    rzw dy mwlk Akwl purK dy hukm ivc qurnw-(iehI iek ivDI hY)[ hy nwnk ! (ieh ivDI) Dur qoN hI jd
    qoN jgq bixAw hY, ilKI clI Aw rhI hY [1[
  </h2>
  <h2 class="transliteration">
    <div>
      <div class="english-transliteration translittext">
        hukam rajaiee chalanaa naanak likhiaa naal ||1||
      </div>
      <div class="shahmukhi-transliteration translittext">هُکم رجاای چلݨا نانک لکھآ نال ۔۔۱۔۔</div>
      <div class="devanagari-transliteration translittext">हुकमि रजाई चलणा नानक लिखिआ नालि ॥१॥</div>
    </div>
  </h2>
</div>
