.shabad-deck {
  background-size: cover;
  background-position: center;
  height: 100%;

  &.akhandpatt-view {
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    padding-bottom: 10px;
    width: 100%;
  }

  &.single-display-mode {
    border: none;
    padding-left: 72px;
    padding-top: 30px;

    &.win32 {
      padding-top: 56px;
    }

    + .viewer-logo {
      left: 80px;
    }
  }

  &.single-display-minimized {
    padding-left: 0px;

    &.win32 {
      padding-top: 32px;
    }

    & + .viewer-logo {
      left: 12px;
    }
  }
}

.empty-slide {
  height: 100% !important;
}

.viewer-logo {
  fill: $grey;
  bottom: 12px;
  position: fixed;
  left: 12px;
  z-index: 1;
}
