@import 'shabad-deck/shabad-deck', 'verse-slide/verse-slide';

#viewer-container {
  height: 100%;
  position: fixed;
  width: 100%;

  * {
    transition: 0.2s all ease-in;
  }

  span {
    transition: 0s color linear;
    transition: 0s border-radius linear;
    transition: 0.2s font-size ease-in;
  }
  
  &-slide-wrapper {
    height: 100%;
    width: 100%;
  }
}
