@import '../utils/variables';
.shabad-pane {
  @include flex($ai-value: start);
  width: 100%;
  padding: 10px;

  &:hover {
    outline: 0;
  }
  .shabad-list {
    height: 100%;
  }

  .fa-check {
    color: $grey;
  }

  &-header {
    @include flex($ai-value: center, $jc-value: flex-end);

    .toggle-viewer-btn {
      height: 30px;
      padding: 0px 0.9em;
      margin: unset;
      background: $dark-grey;
      margin-right: 12px;

      i {
        padding-right: 8px;
      }

      &.btn-danger {
        background: $red;
      }
    }

    > i {
      border-radius: 50%;
      font-size: 18px;
      padding: 6px;
      margin: 6px;
      transition: 0.3s all ease;
    }
  }
}

.fav-btn {
  background: transparent;
  color: $princeton-orange;
  height: 30px;
  line-height: 1;
  margin-right: auto;
  padding: 0px 10px 0px 0px;

  i {
    padding-right: 8px;
  }
}
