@import '../utils/variables';

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes blink-btn {
  0%, 60% {
    opacity: 1;    
  }
   75% {
    opacity: 0.4;  
  }
  100% {
    opacity: 1;    
  }
}

.shabad-pane {
  @include flex($ai-value: start);
  width: 100%;
  padding: 10px;

  &:hover {
    outline: 0;
  }

  .shabad-list {
    height: 100%;
  }

  .fa-check {
    color: $grey;
  }

  &-header {
    @include flex($ai-value: center, $jc-value: flex-end);
    height: 100%;
    width: 100%;

    .toggle-viewer-btn {
      align-items: center;
      display: flex;
      width: 150px;
      height: 30px;
      justify-content: center;
      padding: 0px 0.9em;
      margin: unset;
      background-color: $dull-blue;
      margin-right: 12px;
      position: relative;

      img {
        width: 0.9rem;
        height: auto;
        margin-right: 8px;
      }

      &:hover {
        box-shadow: none;
      }

      &.btn-danger {
        background-color: $red;
        color: white;
        animation: pulse-border 3s infinite, blink-btn 3s infinite;
      }
    }

    > i {
      border-radius: 50%;
      font-size: 18px;
      padding: 6px;
      margin: 6px;
      transition: 0.3s all ease;
    }
  }
}

.fav-btn {
  background: transparent;
  color: $princeton-orange;
  height: 30px;
  line-height: 1;
  margin-right: auto;
  padding: 0px 10px 0px 0px;

  i {
    padding-right: 8px;
  }
}