@import '../utils/variables';
.shabad-pane {
  @include flex($ai-value: start);
  width: 100%;
  padding: 10px;

  &:hover {
    outline: 0;
    .pane-header {
      border-bottom: 1px solid #01579b;
    }
  }
  .shabad-list {
    height: 430px;
  }

  .fa-check {
    color: $grey;
  }
}
