@font-face {
  font-family: "GurbaniAkharThick";
  src:  url('fonts/gurbaniakharthick-webfont.woff2') format('woff2'),
        url('fonts/gurbaniakharthick-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}
body {
  padding: 70px 30px;
  text-align: center;
  background-color: #333;
  color: #fff;
}
.gurmukhi {
  font-family: "GurbaniAkharThick";
}
#h1 {}
h1 {
  font-size: 8.15vw;
  line-height: 1.5em;
}
h2 {
  
}
