$themeMoodyBlue: (
  type: 'dark',
  background-color: #38987b,
  background-image: url('../../assets/img/custom_backgrounds/blue.jpg'),
  gurbani: #fcfefe,
  translation: #fde5ab,
  teeka: #86a3ba,
  transliteration: #f1f5f4,
  visraam: #ffa5a5,
  yamki: #ffde00,
);

body.moody-blue {
  @include generateTheme($themeMoodyBlue...);
}
