$themeBlueDarbar: (
  type: 'dark',
  background-color: #7db6c7,
  background-image: url('../../assets/img/custom_backgrounds/blue-darbar.jpg'),
  gurbani: #fff,
  translation: #fbfbfb,
  teeka: #a0d5fe,
  transliteration: #f4f4f9,
  visraam: #ff9595,
  yamki: #f6ff00,
);

.theme-blue-darbar {
  @include generateTheme($themeBlueDarbar...);

  .shabad-pane .shabad-pane-active {
    background: $dull-blue;

    &:hover {
      background: $dull-blue;
    }
  }

  .launchpad .single-display-switches {
    .tab-switch,
    & {
      background: $darker-grey;
    }
    .tab-switch.active {
      background: $black !important;
      color: $light-grey !important;
    }
  }
}
