$themeBaagiBlue: (
  type: 'dark',
  background-color: #7db6c7,
  background-image: url('../../assets/img/custom_backgrounds/dark-blue.jpg'),
  gurbani: #fff,
  translation: #fbfbfb,
  teeka: #a0d5fe,
  transliteration: #f4f4f9,
  visraam: #a70000,
  yamki: #fff229,
);

.theme-baagi-blue {
  @include generateTheme($themeBaagiBlue...);

  .shabad-pane .shabad-pane-active {
    background: $light-blue-30;

    &:hover {
      background: $light-blue-30;
    }
  }

  .launchpad .single-display-switches {
    .tab-switch,
    & {
      background: $darker-grey;
    }
    .tab-switch.active {
      background: $black !important;
      color: $light-grey !important;
    }
  }

  .quicktool-body {
    background-color: $black;
  }
}
