$themeDark: (
  type: 'dark',
  background-color: #000,
  background-image: 'none',
  gurbani: #fff,
  translation: #e2e2e2,
  teeka: #c6c6c6,
  transliteration: #ababab,
  visraam: #c0392b,
  yamki: #ffc500,
);

body.dark-theme {
  @include generateTheme($themeDark...);
}
