$themeDhanGuruNanak: (
  type: 'dark',
  background-color: #38987b,
  background-image: url('../../assets/img/custom_backgrounds/dhanGuruNanak.jpg'),
  gurbani: #fcfefe,
  translation: #fde5ab,
  teeka: #86a3ba,
  transliteration: #f1f5f4,
  visraam: #ffa5a5,
  yamki: #ffde00,
);

body.dhan-guru-nanak {
  @include generateTheme($themeDhanGuruNanak...);
}
