$themeMelancholy: (
  type: 'dark',
  background-color: #38987b,
  background-image: url('../../assets/img/custom_backgrounds/blue.jpg'),
  gurbani: #fcfefe,
  translation: #fde5ab,
  teeka: #86a3ba,
  transliteration: #f1f5f4,
  visraam: #ffa5a5,
  yamki: #ffde00,
);

.theme-melancholy {
  @include generateTheme($themeMelancholy...);

  .shabad-pane .shabad-pane-active {
    background: $light-blue-30;

    &:hover {
      background: $light-blue-30;
    }
  }

  .launchpad .single-display-switches {
    .tab-switch,
    & {
      background: $darker-grey;
    }
    .tab-switch.active {
      background: $black !important;
      color: $light-grey !important;
    }
  }

  .quicktool-body {
    background-color: $black;
  }
}
