@import '../utils/variables';
.pane {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  position: relative;
  overflow: hidden;
  height: 45vh;
  width: 100%;
  i {
    cursor: pointer;
  }
}
.pane-header {
  height: 40px;
  @include inline-flex;
  flex-wrap: wrap;
  line-height: 40px;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
}
.pane-content {
  @include flex($fd-value: column, $ai-value: initial);
  flex-grow: 1;
  flex-wrap: nowrap;
  height: 100%;
  overflow: auto;
  z-index: 5;
}
.pane-footer {
  @include flex($ai-value: center, $jc-value: space-around);
  z-index: 10;
}
