.verse-block {
  z-index: 5;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;

  .result-list {
    transition: height 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.5s height ease;
    font-size: 1.1em;

    ul {
      list-style-type: none;
      line-height: 1;
      user-select: none;

      .shabadPane-list {
        display: flex;

        .hoverIcon {
          display: none;
        }

        .verse-content {
          flex-grow: 1;
          padding: 5px 0;
        }

        &:hover {
          .hoverIcon {
            display: inline;
            opacity: 0.5;
          }
        }
        .shabadPane-controls {
          display: inline-flex;
          width: 8%;
          justify-content: center;
          align-items: center;
          i {
            font-size: 1rem;
          }
          .fa-check {
            font-size: 10px;
          }
        }
      }
      .shabadPane-active {
        .theme-light-theme & {
          background-color: $transparent-blue;
        }
        .theme-dark-theme & {
          background-color: $dull-blue;
        }
      }
      .search-list {
        display: inline-flex;
        padding: 0 5px;
        .sggs-color {
          color: #e18030;
        }
        .sdg-color {
          color: #348ce7;
        }
        .ak-color {
          color: #65a757;
        }
        .other-color {
          color: #717171;
        }
      }
      .sggs-border {
        border-left: 3px solid #e18030;
      }
      .sdg-border {
        border-left: 3px solid #348ce7;
      }
      .ak-border {
        border-left: 3px solid #65a757;
      }
      .other-border {
        border-left: 3px solid #717171;
      }
      li {
        position: relative;
        cursor: pointer;
        font-size: 1rem;

        &.search-li {
          padding: 2px 10px;
        }

        &.shabad-li {
          padding: 5px 10px;
        }

        div {
          display: inline-flex;
          a {
            padding: 5px;
            font-size: 1rem;
            &:hover {
              background-color: transparent;
            }
          }
        }
        .search-list-footer {
          display: flex;
          color: #929292;
        }
      }
      .historyPane-controls {
        position: absolute;
        right: 20px;
      }
      i {
        z-index: 100;
      }
    }
  }
}
