.gurmukhi-keyboard {
  border: 1px solid $disabled-light;
  border-top: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 $transparent-black, 0 0 0 1px $transparent-light-black;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.25s;
  width: 100%;
  z-index: 2;

  .keyboard-row-set {
    display: inline-block;
    width: 100%;
  }

  .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $lighter-grey;
  }

  button {
    border: 1px solid $transparent-black;
    border-radius: 5px;
    color: $black;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2;
    margin: 2px;
    outline: none;
    position: relative;
    text-align: center;
    transition: 0.3s border-color ease;
    width: calc(10% - 4px);

    &:hover {
      border-color: $darker-grey;
    }

    &.matra-button {
      background-color: $light-blue-30;
    }
  }
}
