.addon-overlay {
  height: calc(100vh - 40px);
  left: 60px;
  max-width: 600px;
  overflow-y: auto;
  padding: 16px;
  position: fixed;
  top: 40px;
  width: 100%;

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .gurmukhi-switch {
    align-items: center;
    display: flex;

    span {
      padding: 8px;
    }
  }
}
