.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOutRollDown {
  0% {
    opacity: 1;
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes gayab {
  from {
    visibility: visible;
  }

  to {
    position: fixed;
    visibility: hidden;
  }
}

@keyframes blank {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes backlight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0);
  }
}

.delete-animate {
  animation: fadeOutRollDown 0.5s ease 1, gayab 0.1s ease 1;
  animation-delay: 0s, 0.5s;
  animation-fill-mode: both;
}

.presenter-view .bounce-animate {
  animation: bounce 0.5s ease 1;
}
