@for $i from 1 through 12 {
  body.display-next-line.gurbani-#{$i} .slide {
    font-size: #{$i}vh;
  }
}

body.display-next-line {
  .slide {
    display: none;
    height: initial;
    min-height: calc(100% - 3.25em);
    opacity: 1;
    position: initial;
    width: initial;
  }

  .slide.active {
    display: inline-block;
  }

  .slide.active + .slide {
    display: inline-block;
    padding-top: 0.25em;

    .translation,
    .transliteration,
    .teeka {
      display: none;
    }
  }
}

body.display-next-line::-webkit-scrollbar {
  display: none;
}
