@for $i from 1 through 12 {
  .display-next-line.gurbani-#{$i} .deck {
    .slide.active {
      & + .slide .gurbani {
        font-size: calc(0.9 * #{$i}vh);
        opacity: 0.5;
      }
    }
  }
}

.display-next-line:not(.akhandpaatt) {
  .deck {
    height: calc(100% - #{$viewer-padding} * 1);
  }

  .slide {
    display: none;
    height: initial;
    min-height: calc(100% - 13em);
    opacity: 1;
    position: initial;
    width: initial;
  }

  .slide.active {
    display: flex;

    & + .slide {
      display: block;
      padding-top: 0.25em;

      .translation,
      .transliteration,
      .teeka {
        display: none;
      }

      .gurbani {
        padding-top: 0.5em;
      }
    }

    .gurbani,
    .translation,
    .teeka,
    .transliteration {
      animation: ease-out 1s, blank 0.2s, backlight 1s 0.2s cubic-bezier(0.645, 0.05, 0.355, 1);
    }
  }
}

body.display-next-line::-webkit-scrollbar {
  display: none;
}
