@for $i from 1 through 12 {
  .display-next-line-true.gurbani-font-size-#{$i} .deck {
    .slide.active {
      & + .slide .gurbani {
        font-size: calc(0.9 * #{$i}vh);
        opacity: 0.5;
      }
    }
  }
}

.display-next-line-true:not(.akhandpatt-true) {
  .deck {
    height: calc(100% - #{$viewer-padding} * 1);
  }

  .slide {
    display: none;
    height: initial;
    min-height: calc(100% - 13em);
    opacity: 1;
    position: initial;
    width: initial;

    .gurbani {
      transition: none;
    }
  }

  .slide.active {
    display: flex;

    & + .slide {
      display: block;
      padding-top: 0.25em;

      .translation,
      .transliteration,
      .teeka {
        display: none;
      }

      .gurbani {
        padding-top: 0.5em;
      }
    }
  }
}

body.display-next-line-true::-webkit-scrollbar {
  display: none;
}
