#footer {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  position: relative;
  transition: 0.5s all ease;

  .menu-group > .menu-group-left,
  .menu-group > .menu-group-right {
    flex: 0 0 auto;
  }

  .menu-bar {
    list-style-type: none;

    > li {
      display: inline-block;

      > a {
        display: block;
        font-size: 0.8em;
        line-height: 40px;
        text-align: center;
        width: 40px;

        .fa {
          line-height: 40px;
        }
      }
    }
  }

  .presenter-switch {
    @extend .menu-bar;
    $switchHeight: 24px;

    bottom: 0;
    position: absolute;
    right: 0;

    span {
      font-size: 14px;
      line-height: 0;
    }

    .switch {
      height: $switchHeight;
      margin: 8px;
      vertical-align: middle;
      width: 42px;
    }

    label::after {
      height: $switchHeight;
      width: $switchHeight;
    }
  }
}
