#footer {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  position: relative;
  transition: 0.5s all ease;

  .menu-group > .menu-group-left,
  .menu-group > .menu-group-right {
    flex: 0 0 auto;
  }

  .menu-bar {
    list-style-type: none;

    > li {
      display: inline-block;

      > a {
        display: block;
        font-size: 0.8em;
        line-height: 40px;
        text-align: center;
        width: 40px;

        .fa {
          line-height: 40px;
        }
      }
    }
  }

  .clear-history {
    align-self: center;
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;

    .presenter-view & {
      display: block;
    }

    i {
      font-size: 14px;
      padding: 4px;
    }
  }
}
