#header {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;

  a {
    height: 40px;
    text-align: center;
    width: 40px;
  }
}

.presenter-view.scale-viewer {
  .toggle-minimize {
    display: none;
  }
}

#search-type {
  flex-grow: 1;
  margin: 0 10px;
  order: 1;
  text-align: left;

  select {
    width: 100%;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }
}

.toolbar-nh {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navigator-header {
  align-items: center;
  display: flex;
  height: 40px;
  line-height: 40px;
  text-align: center;

  .nav-header-text {
    padding: 0 10px;
    text-transform: capitalize;
  }

  .nav-header-tab {
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 100%;
    padding: 0 10px;
    position: relative;

    i {
      font-size: 16px;
    }

    @extend .nav-header-text;

    &.active {
      color: rgb(78, 78, 78);
    }

    &::after {
      background-color: #000;
      border: 1px solid #333;
      border-radius: 8px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      color: #fff;
      content: attr(data-title);
      display: none;
      font-size: 16px;
      left: 50%;
      line-height: 1;
      padding: 10px 20px;
      position: absolute;
      top: -15px;
      transform: translate(-50%, -100%);
      z-index: 999;
    }

    &::before {
      background-color: #000;
      border: 1px solid #333;
      border-left-width: 0;
      border-top-width: 0;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      content: '';
      display: none;
      height: 12px;
      left: 50%;
      position: absolute;
      top: -15px;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 12px;
      z-index: 1000;
    }

    &:hover {
      &::after,
      &::before {
        display: block;
      }
    }
  }

  .navigator-button {
    cursor: pointer;
    display: block;
    height: 40px;
    text-align: center;
    width: 40px;

    &.close-button {
      background: white;
    }

    &.hide {
      display: none;
    }
  }

  .current-shabad-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .toggle-minimize {
    cursor: pointer;
    font-size: 12px;
    margin: 0 10px;
    order: 2;
    text-align: right;

    .disabled {
      display: none;
    }
  }
}

.presenter-view .navigator-header {
  .nav-header-text {
    display: none;
  }
  .nav-header-tab {
    display: inline-block;
  }
}

#session-page,
#menu-page {
  .toggle-minimize {
    flex-grow: 1;
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}

.presenter-view.scale-viewer .nav-header-tab {
  @media screen and (min-width: 1140px) {
    font-size: inherit;

    &:hover {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}
