#header {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;

  a {
    height: 40px;
    text-align: center;
    width: 40px;
  }
}

.presenter-view.scale-viewer .navigator-header {
  .toggle-minimize {
    display: none;
  }
}

#search-type {
  flex-grow: 1;
  margin: 0 10px;
  order: 1;
  text-align: left;

  select {
    width: 100%;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }
}

.navigator-header {
  align-items: center;
  display: flex;
  height: 40px;
  line-height: 40px;
  text-align: center;

  .nav-header-text {
    padding: 0 10px;
  }

  .nav-header-tab {
    cursor: pointer;
    height: 100%;
    opacity: 0.5;
    padding: 0 10px;

    @extend .nav-header-text;

    &.active {
      opacity: 1;
    }
  }

  .navigator-button {
    cursor: pointer;
    display: block;
    height: 40px;
    text-align: center;
    width: 40px;

    &.close-button { background: white; }

    &.hide { display: none; }
  }

  .current-shabad-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .toggle-minimize {
    cursor: pointer;
    font-size: 12px;
    margin: 0 10px;
    order: 2;
    text-align: right;

    .disabled {
      display: none;
    }
  }
}

#session-page,
#menu-page {
  .toggle-minimize {
    flex-grow: 1;
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}
