#header {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;

  a {
    height: 40px;
    text-align: center;
    width: 40px;
  }
}

#search-type {
  flex-grow: 1;
  order: 1;
}

.navigator-header {
  align-items: center;
  display: flex;
  height: 40px;
  line-height: 40px;
  text-align: center;

  .nav-header-text {
    padding: 0 10px;
  }

  .nav-header-tab {
    cursor: pointer;
    height: 100%;
    opacity: 0.5;
    padding: 0 10px;

    @extend .nav-header-text;

    &.active {
      opacity: 1;
    }
  }

  .navigator-button {
    cursor: pointer;
    display: block;
    height: 40px;
    text-align: center;
    width: 40px;

    &.close-button { background: white; }

    &.hide { display: none; }
  }

  .current-shabad-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }
}
