$container: 700px;
$base-font-size: 16px;
$ratio: 1.5;
$vertical-rhythm: $base-font-size * $ratio;

.markdown-frame {
  color: #555;
  font-size: $base-font-size;
  line-height: $ratio;
  margin: auto;
  max-width: $container;
  padding: $vertical-rhythm;

  h2,
  h3,
  h4 {
    color: #333;
    line-height: 1;
    margin-bottom: $vertical-rhythm / 2;
    margin-top: $vertical-rhythm;
  }

  h1 {
    color: #111;
    font-size: $vertical-rhythm * 2;
    line-height: 1;
    margin-bottom: $vertical-rhythm * 2;
    text-align: center;
  }

  h2 {
    font-size: $vertical-rhythm;
  }

  h3 {
    font-size: $vertical-rhythm;
    font-weight: normal;
  }

  h4 {
    font-size: $base-font-size;
    line-height: $ratio;
  }

  p {
    margin-top: 0;
  }

  ul {
    margin-left: $vertical-rhythm;
  }

  img {
    border-radius: $vertical-rhythm / 2;
    display: block;
    margin: auto;
    margin-bottom: $vertical-rhythm;
    margin-top: $vertical-rhythm / 2;
    max-width: 100%;
  }

  iframe {
    border-radius: $vertical-rhythm / 2;
  }
}

.donation-wrapper {
  text-align: center;

  .donation-values-group {
    display: flex;
    justify-content: space-around;
    padding: $vertical-rhythm;
    text-align: center;

    label {
      background: #333;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      padding: $vertical-rhythm;

      &:hover {
        background: #000;
      }
    }

    input {
      height: $base-font-size;
      margin: 0 5px 2px 0;
      vertical-align: middle;
      width: $base-font-size;
    }
  }

  .donation-text-input {
    margin: $vertical-rhythm;

    input {
      border: 1px solid #555;
      border-radius: 5px;
      min-width: 300px;

      &::before {
        content: '$';
      }
    }
  }

  button {
    border-radius: 5px;
    font-size: $base-font-size * 1.5;
    margin: $vertical-rhythm auto;
    min-width: 300px;
  }
}
