.canvas {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-left: 120px;
  margin-right: 180px;
}

.preview {
  background-image: url('../../assets/img/maharaj.jpg');
  background-position: center center;
  background-size: cover;
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  height: 450px;
  max-width: 800px;
  overflow: hidden;
}

.control-panel {
  background: #eee;
  height: 100vh;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 120px;
}

.preview-container {
  overflow: hidden;
  text-align: center;
  width: 805px; //accomodate shadows
}

.separator-y {
  border-right: 1px solid #ccc;
  height: 48px;
  margin-right: 10px;
  width: 10px;
}

.text-controls {
  background: #ebebeb;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  margin-top: 4vh;
  padding: 12px;
  text-align: center;

  & > div {
    display: inline-block;
    margin: 2px 0;
    vertical-align: middle;
  }

  .input-wrap {
    margin: 0 6px;
    width: auto;
  }
}

.url-container {
  margin: 16px 8px;

  input[type='text'] {
    background: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 32px;
    color: #333;
    font-size: 12px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
  }
}

.toggle-text > .layout-btn,
.toggle-text > .input-wrap {
  display: inline-block;
  margin: 0 5px;
}

.theme-selector {
  background: #eee;
  height: 100vh;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 180px;
}

.overlay-theme-swatch {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 70px;
  justify-content: center;
  letter-spacing: 2px;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s all ease;
  width: 140px;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.theme-selector-header {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.bani-overlay-page,
.theme-selector {
  .never-forget {
    background: #000;
    color: #f00;
  }

  .khalsa-gold {
    background: #58330a;
    color: #ffba00;
  }

  .baagi-blue {
    background: #274f69;
    color: #fff;

    .translit {
      color: #a0d5fe;
    }
  }

  .khalsa-rush {
    background: #ffa61a;
    color: #071f77;
  }

  .moody-blue {
    background: #2d73a7;
    color: #fff;
  }

  .a-new-day {
    background: #97d6f7;
    color: #0e2654;

    .teeka,
    .translation {
      color: #003a8c;
    }
  }

  .black-and-blue {
    background: #000;
    color: #fff;

    .teeka,
    .translation {
      color: #a3eafd;
    }
  }

  .floral {
    background: #f5b7d1;
    color: #460a1e;

    .teeka,
    .translation {
      color: #821d3e;
    }
  }
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 100px;
}

input[type='color'] {
  padding: 0;
}

.input-wrap {
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
}

.overlay-off {
  .cp-icon,
  .setting-label {
    color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
  }

  input,
  .export-btn,
  .layout-btn,
  .overlay-theme-swatch,
  .preview {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
  }

  .cast-toggle {
    .fa-toggle-off {
      color: #ee5253;
      cursor: pointer;
    }

    .setting-label {
      color: #666;
    }
  }

  .logo-toggle,
  .announcement-toggle,
  .larivaar-assist-toggle {
    .fa-toggle-off,
    .fa-toggle-on {
      cursor: not-allowed;
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

.cast-toggle,
.logo-toggle,
.announcement-toggle,
.larivaar-assist-toggle {
  cursor: pointer;
  .cp-icon {
    font-size: 34px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  }

  .fa-toggle-on {
    color: #10ac84;
  }

  .fa-toggle-off {
    color: #ee5253;
  }
}

.setting-label {
  color: #333;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.color-input {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid white;
  border-radius: 100px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 30px;
  margin-bottom: 3px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s transform ease;
  width: 30px;

  &:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }

  &:active {
    border: 1px solid white;
  }
}

.separator {
  border-bottom: 1px solid #ccc;
  height: 10px;
  margin-bottom: 10px;
}

.layout-btn {
  @extend .color-input;

  background: #ddd;
  border-radius: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;

  .layout-bar {
    background: rgba(44, 62, 80, 0.9);
    height: 3px;
    width: 100%;
  }

  .layout-vertical-bar {
    background: rgba(44, 62, 80, 0.9);
    height: 100%;
    opacity: 0;
    width: 50%;
  }

  .layout-classic-bar {
    background: rgba(44, 62, 80, 0.9);
    border-radius: 2px;
    height: 5px;
    opacity: 0;
    width: 80%;
  }
}

.cp-icon {
  margin-top: 5px;
}

.export-btn {
  @extend .color-input;

  background: #ddd;
  display: inline-block;
  margin: 2px;
}

.resize-btn {
  display: flex;
}

.size-btn {
  @extend .color-input;

  background: #ddd;
  margin: auto;
}

.layout-btn.split {
  position: relative;

  .layout-bar {
    position: absolute;
  }

  .layout-bar-1 {
    top: 0;
  }

  .layout-bar-2 {
    top: 3px;
  }

  .layout-bar-3 {
    bottom: 0;
  }

  .layout-bar-4 {
    bottom: 3px;
  }
}

.layout-btn.bottom {
  position: relative;

  .layout-bar {
    position: absolute;
  }

  .layout-bar-1 {
    bottom: 0;
  }

  .layout-bar-2 {
    bottom: 3px;
  }

  .layout-bar-3 {
    bottom: 6px;
  }

  .layout-bar-4 {
    bottom: 9px;
  }
}

.layout-btn.vertical {
  position: relative;

  .layout-bar {
    opacity: 0;
  }

  .layout-vertical-bar {
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
  }
}

.layout-btn.vertical-left .layout-vertical-bar {
  left: auto;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
}

.layout-btn.classic {
  position: relative;

  .layout-bar {
    opacity: 0;
  }

  .layout-classic-bar {
    bottom: 20%;
    opacity: 1;
    position: absolute;
    right: 10%;
  }
}

.cp-title {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
}

.custom-select {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: left;
  -webkit-user-select: none;
  vertical-align: middle;

  .select-value {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    min-width: 100px;
    padding: 6px 25px 6px 6px;
    text-align: left;
    white-space: nowrap;

    &:hover {
      border: 1px solid #aaa;
    }

    &::after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #555;
      content: '';
      height: 0;
      position: absolute;
      right: 10px;
      top: 12px;
      width: 0;
    }

    &.gurbaniFont {
      width: 165px;
    }
  }

  .options-container {
    background: #fff;
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 3;

    &.visible {
      display: block;
    }

    .option {
      cursor: pointer;
      padding: 8px 12px;
      white-space: nowrap;

      &:hover {
        background: #e9e9e9;
      }
    }
  }
}
