.settings-wrapper {
  display: flex;
  height: 95vh;
  left: 100px;
  margin-top: 24px;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  width: 82vw;

  .other-settings {
    margin-left: 48px;
  }

  .settings-viewer {
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: auto;
    padding: 12px;
    width: 500px;
  }

  .main-settings-wrapper,
  .other-settings {
    min-width: 500px;
    overflow-y: auto;
  }

  .settings-nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    position: sticky;
    top: 0;
    z-index: 100;

    span {
      flex-grow: 1;
      padding: 16px;
      text-align: center;
    }
  }

  .settings-container {
    margin-bottom: 20px;
    max-width: 500px;
    padding: 12px;

    .theme-tile-holder {
      display: flex;
      flex-wrap: wrap;
    }

    .controls-container {
      h4 {
        color: #757575;
        font-size: 12px;
        letter-spacing: 0.2em;
        padding-top: 0.75em;
        text-transform: uppercase;
        word-spacing: 0.2em;

        &:empty {
          display: none;
        }
      }

      .control-item {
        align-items: center;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        margin: 4px 0;
        min-height: 40px;
        padding: 6px;
        transition: 0.2s background-color ease;

        input[type='range']::before {
          content: attr(data-value);
          display: inherit;
          transform: translateX(-150%);
        }

        .notes {
          color: #999;
          flex-grow: 1;
          font-size: 0.8em;
          font-style: italic;
          margin-left: 3px;
        }

        .custom-checkbox {
          input[type='checkbox'] {
            left: -9999px;
            position: absolute;

            & + label {
              align-items: center;
              display: flex;
              opacity: 0.6;

              &::before {
                background-image: url('../../assets/img/icons/invisible.svg');
                background-position: center left;
                background-repeat: no-repeat;
                background-size: 80%;
                border-radius: 50%;
                content: '';
                cursor: pointer;
                display: inline-block;
                height: 24px;
                width: 24px;
              }
            }

            &:checked + label {
              opacity: 1;

              &::before {
                background-image: url('../../assets/img/icons/visibility.svg');
              }
            }
          }
        }
      }
    }
  }
}

#settings,
#list-of-custom-slides {
  h2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: none;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2;
    margin-top: 0;
    text-align: center;
  }

  header {
    border-top: 1px #757575 solid;
    color: #757575;
    letter-spacing: 0.2em;
    padding-top: 0.75em;
    word-spacing: 0.2em;

    &:empty {
      display: none;
    }
  }

  h2:first-child + section.block-list > header:first-child {
    border-top: none;
    padding-top: 0;
  }

  li {
    border: none;
  }

  .block-list li {
    span.setting-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    span i {
      color: #999;
      font-size: 0.8em;
      margin-left: 3px;
    }

    a,
    label {
      cursor: default;
    }
  }

  .switch input + label {
    border-radius: 999px;
  }

  .range {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    input::before {
      content: attr(data-value);
      display: inherit;
      transform: translateX(-150%);
    }
  }

  #dhan-guru {
    margin-left: 12px;
  }
}

.sub-label {
  font-size: smaller;
  font-weight: lighter;
  margin-left: 1.5rem;
}

.gurbani {
  font-weight: normal;
  line-height: 1.5;

  .padchhed {
    span {
      margin-right: 5px;
      i {
        font-size: 0;
      }
    }
  }

  .larivaar {
    display: none;

    i {
      display: none;
      font-style: normal;
    }
  }
}

.larivaar-true {
  .gurbani {
    .padchhed {
      display: none;
    }

    .larivaar {
      display: inline;
    }
  }
}

.translation,
.transliteration {
  font-weight: 700;
  line-height: 1.5;
}

.transtext,
.translittext {
  display: none;
}

.translation-language-English .english-translation,
.translation-language-Spanish .spanish-translation,
.transliteration-language-Shahmukhi .shahmukhi-transliteration,
.transliteration-language-Devanagari .devanagari-transliteration,
.transliteration-language-English .english-transliteration {
  display: block;
}

.transliteration {
  text-transform: lowercase;
}

.teeka {
  font-family: 'gurbaniakhar';
  line-height: 1.5;
  margin-top: 0.25em;
}

.translation,
.transliteration,
.teeka {
  display: none;
  height: 0;
  opacity: 0;
}

.translation-visibility-true .translation,
.transliteration-visibility-true .transliteration,
.teeka-visibility-true .teeka {
  display: block;
  height: auto;
  opacity: 1;
}

.icons-translation .size,
.icons-transliteration .size,
.icons-teeka .size {
  opacity: 0.4;
  z-index: -1;
}

.translation-visibility-true .icons-translation,
.transliteration-visibility-true .icons-transliteration,
.teeka-visibility-true .icons-teeka {
  .size {
    opacity: 1;
    z-index: 20;
  }

  .visibility i {
    &::before {
      content: '\f06e';
    }
  }
}
