body.black-blue {
  background-color: #05060b;
  background-image: url("../../assets/img/custom_backgrounds/black.jpg");

  .gurbani {
    color: #fff;
  }

  .translation {
    color: #a3eafd;
  }

  .teeka {
    color: #7a7a7c;
  }

  .transliteration {
    color: #ededef;
  }

  .logo {
    path {
      fill: #e0e0e0;
    }
  }

  .controller.presenter-view {
    #viewer {
      border-color: #333;
    }
  }

  .panktee.search-result {
    .translation {
      color: #e2e2e2;
    }

    .transliteration {
      color: #ababab;
    }
  }
}

$bg-main: #212121;
$bg-alt: #3a3a3a;
$bg-bright: #424242;
$text-base: #bdbdbd;
$text-bright: #e0e0e0;
$text-dim: #9e9e9e;
$border: #424242;
$scrollbar: #999;
$white: #fff;
$accent: #4fc3f7;
$highlight-bg: #37474f;
$highlight-text: #cfd8dc;

.black-blue {
  color: $text-base;

  #header {
    a {
      color: $text-base;

      &:hover,
      &.active {
        background-color: $bg-alt;
      }
    }
  }

  .navigator-header {
    background-color: $bg-main;
    color: $text-base;
  }

  #gurmukhi-keyboard {
    background-color: $bg-main;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $bg-alt;
  }

  #gurmukhi-keyboard button {
    color: $text-base;
  }

  .nav-page,
  .takeover-page {
    background: $bg-alt;

    h2 {
      border-top: 1px $border solid;
      color: $text-dim;
    }

    h2:first-child {
      border-top: none;
    }
  }

  .nav-page {
    a.panktee.current {
      background-color: #37474f !important;
      color: $text-base !important;
    }
  }

  .switch > label {
    background: $text-dim;
  }

  .switch > label::after {
    background: $text-bright;
    border-color: $text-dim;
  }

  .switch input:checked + label {
    background: $accent;
  }

  .switch input:checked + label::after {
    background: $white;
    border-color: $accent;
  }

  #search-container {
    input {
      color: $text-bright;
    }

    input:focus + div {
      background: rgba(255, 255, 255, 0.12);
    }

    > button {
      color: $text-bright;
    }
  }

  #search-container:focus {
    background: white;
  }

  #search-options select {
    background-color: $bg-main;
    border: $bg-main;
    color: $text-bright;
  }

  .panktee {
    color: $text-base;
  }

  .block-list {
    li {
      > a,
      > span,
      > label {
        color: $text-base;

        &:hover {
          background-color: $bg-bright;
        }
      }
    }
  }

  #footer {
    background-color: $bg-main;

    a {
      color: $text-base;

      &.active,
      &:hover {
        background-color: $bg-alt;
      }

      &.active {
        color: $highlight-text;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius: 6px;
  }
}
