body.light-theme {
  background-color: #f1f1f1;

  .gurbani {
    color: #333;
  }

  .translation {
    color: #006799;
  }

  .transliteration {
    color: #868383;
  }

  .teeka {
    color: #333;
  }
}
