body.dark-theme {
  background-color: #000;

  .gurbani {
    color: #f1f1f1;
  }

  .translation {
    color: #f1f1f1;
  }

  .transliteration {
    color: #868383;
  }

  .teeka {
    color: #f1f1f1;
  }

  #logo {
    path {
      fill: #868383;
    }
  }

  .controller.presenter-view {
    #viewer {
      border-color: #333;
    }
  }
}
