body.light-theme {
  background-color: #fff;

  .gurbani {
    color: #01579b;
  }

  .translation {
    color: #4e4e4e;
  }

  .teeka {
    color: #5a5a5a;
  }

  .transliteration {
    color: #666;
  }

  .logo {
    path {
      fill: #e0e0e0;
    }
  }

  .controller.presenter-view {
    #viewer {
      border-color: #333;
    }
  }
}
