body.dark-theme {
  background-color: #000;

  .gurbani {
    color: #fff;
  }

  .translation {
    color: #e2e2e2;
  }

  .teeka {
    color: #c6c6c6;
  }

  .transliteration {
    color: #ababab;
  }

  .logo {
    path {
      fill: #212121;
    }
  }

  .controller.presenter-view {
    #viewer {
      border-color: #333;
    }
  }
}
