body.dark-theme {
  background-color: #000;

  .gurbani {
    color: #f1f1f1;
  }

  .translation {
    color: #f79c31;
  }

  .transliteration {
    color: #868383;
  }

  .teeka {
    color: #f1f1f1;
  }

  #logo {
    path {
      fill: #868383;
    }
  }
}
