body.a-new-day {
  background-color: #07ccf3;
  background-image: url("../../assets/img/custom_backgrounds/clouds.jpg");

  .gurbani {
    color: #0e2654;
  }

  .translation {
    color: #003a8c;
  }

  .teeka {
    color: #033780;
  }

  .transliteration {
    color: #80878a;
  }

  .logo {
    path {
      fill: #e0e0e0;
    }
  }

  .controller.presenter-view {
    #viewer {
      border-color: #333;
    }
  }
}

$statusbar-bg: #e0e0e0;
$nav-bg: #f5f5f5;
$alt-bg: #fafafa;
$dialog-bg: #fff;
$base-text: #4e4e4e;
$base-text-inactive: rgba(78, 78, 78, 0.5);

.a-new-day {
  #toolbar,
  .bani-list {
    background-color: $nav-bg;
  }

  .viewer-controls {
    background-color: $nav-bg;
  }

  .deck {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .deck .gurbani {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.7));
  }

  #header {
    a {
      color: $base-text;

      &:hover,
      &.active {
        background-color: $dialog-bg;
      }
    }
  }

  .navigator-header,
  .more-tabs .nav-header-tab {
    background-color: $statusbar-bg;
    color: $base-text;
  }

  .shortcut-tray { background: $alt-bg; }
  .tray-item-icon { background: lighten($base-text, 30); }
  .tray-item-label { color: $nav-bg; }
  &.shortcut-tray-on .shortcut-toggle { background: $alt-bg; }

  .nav-header-tab {
    color: $base-text-inactive;

    &.active {
      color: $base-text;
    }
  }

  #gurmukhi-keyboard {
    background-color: $nav-bg;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $alt-bg;
  }

  #gurmukhi-keyboard button {
    color: $base-text;
  }

  #toolbar {
    background-color: $nav-bg;
  }

  .nav-page {
    background-color: $nav-bg;

    a.panktee.current {
      background-color: #c5deea !important;
      color: $base-text !important;
    }
  }

  .takeover-page {
    background-color: $dialog-bg;
  }

  #search-container {
    input {
      color: $base-text;
    }

    input:focus + div {
      background: $dialog-bg;
    }

    > button {
      color: $base-text;
    }
  }

  .panktee.search-result .gurmukhi {
    color: $base-text;
  }

  .block-list {
    li {
      > a,
      > span,
      > label {
        color: $base-text;

        &:hover {
          background-color: $nav-bg;
          cursor: pointer;
        }
      }
    }
  }

  #footer {
    background-color: $statusbar-bg;

    a {
      color: $base-text;

      &.active,
      &:hover {
        background-color: $nav-bg;
      }

      &.active {
        color: #0277bd;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 6px;
  }
}
