body.khalsa-rush {
  background-color: #fec43c;
  background-image: url("../../assets/img/custom_backgrounds/orange.jpg");

  .gurbani {
    color: #071f77;
  }

  .translation {
    color: #001060;
  }

  .teeka {
    color: #433e5d;
  }

  .transliteration {
    color: #f7faf6;
  }

  .logo {
    path {
      fill: #e0e0e0;
    }
  }

  .controller.presenter-view {
    #viewer {
      border-color: #333;
    }
  }
}

$statusbar-bg: #e0e0e0;
$nav-bg: #f5f5f5;
$alt-bg: #fafafa;
$dialog-bg: #fff;
$base-text: #4e4e4e;

.khalsa-rush {
  .deck {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  #header {
    a {
      color: $base-text;

      &:hover,
      &.active {
        background-color: $dialog-bg;
      }
    }
  }

  .navigator-header {
    background-color: $statusbar-bg;
    color: $base-text;
  }

  #gurmukhi-keyboard {
    background-color: $nav-bg;
  }

  #gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  #gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $alt-bg;
  }

  #gurmukhi-keyboard button {
    color: $base-text;
  }

  .nav-page {
    background-color: $nav-bg;

    a.panktee.current {
      background-color: #c5deea !important;
      color: $base-text !important;
    }
  }

  .takeover-page {
    background-color: $dialog-bg;
  }

  #search-container {
    input {
      color: $base-text;
    }

    input:focus + div {
      background: $dialog-bg;
    }

    > button {
      color: $base-text;
    }
  }

  .panktee.search-result .gurmukhi {
    color: $base-text;
  }

  .block-list {
    li {
      > a,
      > span,
      > label {
        color: $base-text;

        &:hover {
          background-color: $nav-bg;
        }
      }
    }
  }

  #footer {
    background-color: $statusbar-bg;

    a {
      color: $base-text;

      &.active,
      &:hover {
        background-color: $nav-bg;
      }

      &.active {
        color: #0277bd;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 6px;
  }
}
