body.win32:not(.webview) {
  border: 1px solid #333;

  #titlebar {
    -webkit-app-region: drag;
    background-color: #333;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    height: 32px;
    left: 1px;
    line-height: 32px;
    opacity: 0;
    padding-left: 20px;
    position: fixed;
    text-align: left;
    top: 1px;
    transition: opacity 0.2s ease-out;
    width: calc(100% - 2px);
    z-index: 1600;

    > * {
      display: initial;
    }

    ul.controls {
      -webkit-app-region: no-drag;
      float: right;
      margin: 0;

      li {
        float: left;
        list-style-type: none;
        margin-right: 1px;
        width: 45px;

        a {
          cursor: default;
          display: block;
          line-height: 32px;
          text-align: center;
          transition: background-color 0.2s;

          svg {
            height: 10px;
            shape-rendering: crispEdges;
            width: 10px;
          }
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  &::after,
  .controls::after {
    clear: both;
    content: ' ';
    display: table;
  }

  &.maximized {
    .controls .maximize {
      display: none;
    }
  }

  &:not(.maximized) {
    .controls .restore {
      display: none;
    }
  }

  &:hover {
    #titlebar {
      opacity: 1;
    }
  }
}
