.workspace-bar {
  align-items: center;
  display: flex;
  font-size: 13px;
  height: 30px;
  justify-content: center;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  transition: height 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  z-index: 2;

  div {
    cursor: pointer;
    height: 100%;
    min-width: 200px;
    text-align: center;

    &.active {
      border-bottom: 1px solid #f00;
      font-weight: bold;
    }
  }
}

body.win32 {
  .workspace-bar {
    height: 50px;
    line-height: 25px;
    padding-top: 25px;
  }
}
