.workspace-bar {
  align-items: center;
  display: flex;
  font-size: 13px;
  height: 30px;
  justify-content: center;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  width: 100%;

  div {
    cursor: pointer;
    min-width: 200px;
    text-align: center;
    height: 100%;

    &.active {
      border-bottom: 1px solid #f00;
      font-weight: bold;
    }
  }
}

body.win32 {
  .workspace-bar {
    height: 50px;
    padding-top: 25px;
    line-height: 25px;
  }
}
