#zoomCCPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;

  .input-container {
    margin-bottom: 32px;

    div:nth-child(2) {
      font-size: 12px;
      margin-left: 30%;
      margin-top: 4px;
    }
  }

  .instructions {
    align-self: flex-start;
    margin-left: 20px;

    div {
      font-size: 20px;
    }
  }

  img {
    align-self: flex-start;
    height: 300px;
    margin-left: 20px;
    width: 400px;
  }

  button {
    background: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 32px;
    color: #333;
    font-size: 12px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  input[type='text'] {
    background: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 32px;
    color: #333;
    font-size: 12px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    width: 60vw;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  ol {
    list-style-type: none;
    padding-left: 10px;

    li {
      margin-bottom: 16px;
    }
  }
}
