$sttm-orange: #f39c1d;
$sttm-blue: #29679b;

$transition-time: 600ms;
$transition-easing: cubic-bezier(0.165, 0.84, 0.44, 1);

$footerOffset: 40px;
$shortcutTrayHeight: 70px;
$totalSessionOffset: $footerOffset + $shortcutTrayHeight;
$sessionPageHeight: calc(100% - #{$totalSessionOffset});

.presenter-view.shortcut-tray-on {
  #main-ui,
  .nav-page:nth-child(2) {
    height: $sessionPageHeight;
  }
}

/*
  Fonts
*/
$body-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', Arial, sans-serif !default;
$gurmukhi-font-family: 'gurbaniakhar';

@font-face {
  font-family: $gurmukhi-font-family;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: $gurmukhi-font-family;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

#navigator {
  .gurmukhi {
    font-family: $gurmukhi-font-family;
    font-size: 1.1em;
  }
}

.roman {
  font-family: $body-font-family;
}

/*
  Custom Styles
*/
body {
  background-color: #fff;
  color: #222;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

#main-ui {
  height: calc(100% - #{$footerOffset}); //Full-height minus header, search, and footer
  position: relative;
  transition: 0.5s height ease;
}

.minimized {
  #main-ui {
    height: calc(100%); //Full-height minus header, search, and footer
    position: relative;
  }

  #search-type {
    visibility: hidden;
  }

  #language-selector {
    visibility: hidden;
  }
}

.nav-page,
.takeover-page {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.active {
    display: block;
  }

  .block-list {
    margin-left: 0;
    margin-right: 0;
  }

  .list-icon {
    padding-right: 10px;
  }

  .announcement-box {
    display: flex;
    flex-direction: column;
  }

  .announcement-text {
    border-radius: 10px;
    display: inline-block;
    margin: 0 20px 10px;
    min-height: 100px;
    outline: none;
    padding: 10px;
  }

  select {
    outline: none;
  }

  .announcement-slide-btn {
    align-self: center;
    display: block;
    width: 200px;
  }
}

.nav-page {
  z-index: 2;

  .block-list li:first-child {
    border-top: none;
  }

  .block-list {
    height: calc(100% - #{$footerOffset});
    margin: 0;
    overflow-y: auto;
    position: relative;
    transition: 0.5s height ease;
    width: 100%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      border-bottom: none;
    }

    li > a {
      cursor: default;
      display: block;
      line-height: normal;
      overflow: hidden;
      padding: 0.3rem 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.takeover-page {
  height: calc(100% + 40px);
  overflow-y: auto;
  z-index: 3;
}

.shortcut-toggle {
  cursor: pointer;
  display: none;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  transition: 0.5s all ease;
  vertical-align: -webkit-baseline-middle;

  .shortcut-toggle-icon {
    height: 40px;
    text-align: center;
    width: 40px;
  }
}

.presenter-view .shortcut-toggle {
  display: block;
}

.presenter-view.shortcut-tray-on .shortcut-tray {
  height: 70px;
  overflow-y: auto;
}

.shortcut-tray {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 0;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.5s all ease;

  .tray-item-icon {
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    margin: 5px auto;
    min-width: 100px;
    padding: 10px;
    transition: 0.5s all ease;

    &:hover {
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
      transform: translateY(-4px);
    }

    &:active {
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
      transform: translateY(1px);
    }
  }
}

#session {
  a.panktee.current {
    background-color: $sttm-orange;
    color: #fff;
  }
}

/* ***** SHABAD CONTROLLER ***** */
#shabad {
  a:hover {
    i.fa-home {
      color: #ccc;

      &:hover {
        color: #666;
      }
    }
  }

  a.panktee.current {
    background-color: $sttm-orange;
    color: #fff;

    &:hover {
      i.fa-home {
        color: #999;

        &:hover {
          color: #ccc;
        }
      }
    }
  }

  i.fa-home,
  i.fa-check {
    color: transparent;
  }

  i.fa-check {
    font-size: 10px;
  }

  a.seen_check i.fa-check {
    color: #999;
  }

  a.panktee.main i.fa-home {
    color: inherit !important;
  }
}

@import 'foundation/foundation', 'animations', 'footer', 'forms', 'header', 'helpers', 'search',
  'share-sync', 'settings', 'notifications';
