$presenter-pane-gap: 25px;
$title-bar-offset: 25px;
$keyboard-height:128px;

@mixin calculateTop ($row-num, $is-windows:0, $keyboard-offset:0) {
  $screen-offset: 50 * $row-num;

  @if $is-windows == 0 {
    top: calc(#{$screen-offset}% + #{$presenter-pane-gap + $keyboard-offset});
  }

  @else if $is-windows == 1 {
    top: calc(#{$screen-offset}% + #{$presenter-pane-gap + $title-bar-offset + $keyboard-offset});
  }
}

@import
  "../../core/scss/styles.scss",
  "changelog",
  "theme-dark",
  "theme-light",
  "update",
  "viewer",
  "window",
  "akhandpaatt";

a {
  cursor: default;
}

#app-frame {
  height: 100%;
}

#main-viewer,
#viewer {
  height: 100%;
  width: 100%;
}

#navigator {
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  height: 260px;
  position: fixed;
  right: 0;
  width: 425px;
}

.controller.scale-viewer.presenter-view {
  #navigator {
    bottom: $presenter-pane-gap;
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    right: $presenter-pane-gap;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
  }

  #header {
    .navigator-header {
      display: none;
    }
  }

  .preferences-open {
    display: none;
  }

  #search-page .preferences-open {
    display: block;
  }

  .fixed-takeover-pages {
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    position: fixed;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
  }

  #custom-slides-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;

    @include calculateTop(1);
  }

  #menu-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;

    @include calculateTop(0);
  }

  .nav-page {
    display: block;
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    position: fixed;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));

    &:nth-child(1) {
      left: $presenter-pane-gap;

      @include calculateTop(0);
    }

    &:nth-child(2) {
      height: calc(50% - calc(#{$presenter-pane-gap} * 1.5) - 40px);
      left: auto;
      right: $presenter-pane-gap;

      @include calculateTop(1);
    }

    &:nth-child(3) {
      left: $presenter-pane-gap;

      @include calculateTop(1);
    }
  }

  #navigator.kb-active {
    $height:calc(50% - calc(#{$presenter-pane-gap} * 3) - calc(#{$keyboard-height} / 2));

    .nav-page {
      &:nth-child(1) {
        height: $height;
      }

      &:nth-child(1) { @include calculateTop(0,0,$keyboard-height); }
    }
  }

  #footer {
    .menu-group-left {
      display: none;
    }
  }
}

.scale-viewer {
  #main-viewer {
    border-style: solid;
    border-width: 1px;
    position: fixed;
    transform-origin: right top;
  }
}

.controller.scale-viewer.presenter-view.win32 {
  .nav-page:nth-child(1),
  #menu-page { @include calculateTop(0, 1); }

  #navigator.kb-active {
    $height:calc(50% - calc(#{$presenter-pane-gap * 3} + #{$title-bar-offset}) - calc(#{$keyboard-height} / 2));

    .nav-page {
      &:nth-child(1) {
        height: $height;
      }

      &:nth-child(1) { @include calculateTop(0,1,$keyboard-height); }
    }
  }
}
