$presenter-pane-gap: 25px;
$title-bar-offset: 32px;
$keyboard-height: 128px;
$toolbar-offset: 75px;
$toolbar-small-offset: 50px;
$toolbar-width-offset: $toolbar-offset/2;
$bani-list-width: 300px;
$tag-nitnem-color: #5488d6;
$tag-popular-color: #ce744e;

@mixin calculateTop($row-num, $is-windows: 0, $keyboard-offset: 0) {
  $screen-offset: 50 * $row-num;
  $pane-gap-ratio: 1;

  @if $row-num == 1 {
    $pane-gap-ratio: 0.5;
  }

  @if $is-windows == 0 {
    top: calc(#{$screen-offset}% + #{($presenter-pane-gap * $pane-gap-ratio) + $keyboard-offset});
  } @else if $is-windows == 1 {
    top: calc(#{$screen-offset}% + #{$presenter-pane-gap + $title-bar-offset + $keyboard-offset});
  }
}

@mixin calculateDimensions() {
  height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));

  $presenter-panes-container: calc(50% - #{$toolbar-width-offset});

  width: calc(#{$presenter-panes-container} - calc(#{$presenter-pane-gap} * 1.5));
}

@import 'controller.scss', 'markdown', 'themes/themes', 'update', 'viewer', 'window', 'akhandpaatt',
  'overlay', 'animations', 'noty';

a {
  cursor: default;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(20px);
}

.fullscreen-fixed {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#app-frame {
  @extend .fullscreen-fixed;

  z-index: 1100;
}

.focus-overlay {
  @extend .fullscreen-fixed;

  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 1200;

  &.hidden {
    width: 0;
  }
}

#toolbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: -$toolbar-small-offset;
  padding-top: 10px;
  position: absolute;
  top: 0;
  width: $toolbar-small-offset;
  z-index: 1300;

  .toolbar-item {
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin-bottom: 5px;
    transition: 0.5s all ease;
    width: 40px;

    &:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .sync-button {
    bottom: 10px;
    cursor: pointer;
    font-size: 48px;
    height: 50px;
    left: 10px;
    position: fixed;
    transition: 0.3s all ease;
    width: 50px;
    &:hover {
      transform: translateY(-2px);
    }
  }

  .close-overlay-ui {
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: 40px;
    line-height: 35px;
    position: fixed;
    right: $presenter-pane-gap;
    text-align: center;
    top: $presenter-pane-gap;
    width: 40px;

    i {
      transition: 0.3s all ease;
    }

    &:hover i {
      transform: scale(1.3);
    }
  }

  .bani-list,
  .ceremonies-list {
    bottom: 0;
    height: 300px;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 500px;
    word-wrap: break-word;

    .sunder-gutka-bani {
      cursor: pointer;
      padding: 0.3rem 1rem;
    }

    header,
    .translit-switch {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .translit-switch {
      display: none;
    }

    .translit-bani {
      display: none;
      text-transform: capitalize;
    }

    &.translit {
      .translit-bani {
        display: inline;
      }
      .gurmukhi-bani {
        display: none;
      }
    }

    ul {
      padding-bottom: 40px;
    }

    li .tag {
      border-radius: 2px;
      display: inline-block;
      height: 10px;
      margin: 0 5px;
      width: 10px;

      &.tag-nitnem {
        background-color: $tag-nitnem-color;
      }

      &.tag-popular {
        background-color: $tag-popular-color;
      }
    }

    .blocklist {
      height: 100%;
      overflow-y: auto;
    }

    header {
      padding: 0.3rem 1rem;
    }

    .ceremonies-header {
      font-weight: bold;
    }

    .ceremony-pane.active {
      .navigator-header {
        border-bottom: 2px solid $tag-nitnem-color;
      }
    }

    .ceremony-pane-content {
      display: flex;
      justify-content: space-around;
    }

    .ceremony-pane-themes {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 200px;
      padding: 10px;
      width: 100%;

      .theme-instance {
        width: 27%;
      }
    }

    .ceremony-pane-options {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      justify-content: center;
      padding: 20px 10px;
      text-align: center;

      .switch {
        margin-top: 5px;
      }
    }

    .ceremony-theme-header {
      font-size: 12px;
      text-align: center;
      width: 100%;
    }
  }

  .ceremonies-list {
    min-width: 500px;
    overflow-y: auto;

    .navigator-header {
      cursor: pointer;
    }
  }

  .bani-extras {
    bottom: 325px;
    position: fixed;
    right: 250px;
    width: $bani-list-width;

    .bani-group {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
    }

    .bani-group-heading {
      color: white;
      padding: 1rem 0;
      text-transform: capitalize;
    }

    .extras-tile {
      align-items: center;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      display: flex;
      height: 75px;
      justify-content: center;
      line-height: 1.5;
      padding: 5px;
      text-align: center;
      transition: 0.3s all ease;
      width: 125px;

      &:hover {
        transform: scale(1.1);
      }

      &.nitnem-bani {
        background-color: $tag-nitnem-color;
      }

      &.popular-bani {
        background-color: $tag-popular-color;
      }
    }

    &.hidden {
      display: none;
    }
  }

  #tool-sunder-gutka {
    background-image: url('../../assets/img/icons/sunder_gutka.png');
  }

  #tool-sync-button {
    background-color: white;
    background-image: url('../../assets/img/icons/sync_button.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 75%;
    bottom: 10px;
    position: fixed;
  }

  #tool-ceremonies {
    background-color: rebeccapurple;
    background-image: url('../../assets/img/icons/ceremonies.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 75%;
  }

  .sync-header {
    background: #e67e22;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .sync-dialogue {
    background: white;
    border-radius: 5px;
    height: 500px;
    margin: auto;
    max-width: 800px;
  }

  .sync-content {
    align-items: center;
    display: flex;
    height: 450px;
    justify-content: space-around;

    .left-sync-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 40%;
    }

    .left-sync-icon {
      background-image: url('../../assets/img/icons/sync_button.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 75%;
      height: 300px;
      width: 100%;
    }

    .right-sync-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: center;
      width: 40%;

      .sync-code-label {
        color: #e67e22;
      }

      .sync-code-num {
        font-size: 60px;
      }
    }
  }
}

.sync-dialogue-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 100px;
  position: fixed;
  top: 0;
  width: calc(100% - 100px);

  &.hidden {
    display: none;
  }
}

.button-wrap {
  padding: 10px;
}

.presenter-view #toolbar {
  @extend .fullscreen-fixed;

  padding-top: $presenter-pane-gap;
  width: $toolbar-offset;

  .toolbar-item {
    height: 60px;
    width: 60px;
  }

  .bani-list,
  .ceremonies-list {
    height: calc(100vh - #{$presenter-pane-gap * 2});
    left: $toolbar-offset + $presenter-pane-gap;
    top: $presenter-pane-gap;
    width: $bani-list-width;
  }

  .ceremonies-header {
    width: 100%;
  }

  .ceremony-pane {
    margin-bottom: 15px;
  }

  .ceremonies-list {
    background: transparent;
    height: 250px;
  }

  .ceremonies-list .ceremonies-header {
    background: transparent;
    color: white;
    font-size: 24px;
    padding: 0;
  }

  .bani-extras {
    left: $toolbar-offset + $bani-list-width + ($presenter-pane-gap * 2);
    top: $presenter-pane-gap;
  }
}

#main-viewer,
#viewer {
  height: 100%;
  width: 100%;
}

.color-overlay {
  display: none;
}

body.show-overlay {
  .color-overlay {
    display: block;
    opacity: 0.7;
    position: fixed;
    z-index: 0;
  }
}

#navigator {
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  height: 300px;
  position: fixed;
  right: 0;
  transition: height $transition-time $transition-easing;
  width: 470px;

  &.minimized {
    height: 40px;

    #toolbar {
      display: none;
    }
  }
}

.darwin #navigator {
  width: 500px;
}

.presenter-view.scale-viewer #navigator {
  transition: none;
}

.controller.scale-viewer.presenter-view {
  #navigator {
    bottom: $presenter-pane-gap;
    right: $presenter-pane-gap;

    @include calculateDimensions();
  }

  #header {
    .navigator-header {
      display: none;
    }
  }

  .preferences-open {
    display: none;
  }

  #search-page .preferences-open {
    display: block;
  }

  .fixed-takeover-pages {
    position: fixed;

    @include calculateDimensions();
  }

  #custom-slides-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;

    @include calculateTop(1);
  }

  #menu-page,
  #shabad-menu-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;

    @include calculateTop(0);
  }

  .nav-page {
    display: block;
    position: fixed;
    transition: 0.5s height ease;

    @include calculateDimensions();

    &:nth-child(1) {
      left: $presenter-pane-gap + $toolbar-offset;

      @include calculateTop(0);
    }

    &:nth-child(2) {
      height: calc(50% - calc(#{$presenter-pane-gap} * 1.5) - #{$footerOffset});
      left: auto;
      right: $presenter-pane-gap;

      @include calculateTop(1);
    }

    &:nth-child(3) {
      left: $presenter-pane-gap + $toolbar-offset;

      @include calculateTop(1);
    }

    .current-shabad-header {
      border-bottom: 2px solid transparent;
      transition: 0.5s border ease;
    }

    &:focus {
      outline: 0;

      .current-shabad-header {
        border-bottom-color: #01579b;
      }
    }
  }

  #navigator.kb-active {
    $height: calc(50% - calc(#{$presenter-pane-gap} * 3) - calc(#{$keyboard-height} / 2));

    /* .nav-page {
      &:nth-child(1) {
        height: $height;
      }

      &:nth-child(1) { @include calculateTop(0,0,$keyboard-height); }
    } */
  }

  #footer {
    .menu-group-left {
      display: none;
    }
  }
}

.controller.scale-viewer.presenter-view.shortcut-tray-on .nav-page:nth-child(2) {
  height: calc(50% - calc(#{$presenter-pane-gap} * 1.5) - #{$totalSessionOffset});
}

.scale-viewer {
  #main-viewer {
    border-style: solid;
    border-width: 1px;
    position: fixed;
    transform-origin: right top;
  }
}

.options-page {
  background: #f0f0f0;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: -400px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: 1s all ease;
  width: 300px;
  z-index: 4;

  .options-page-header {
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;

    .options-header-text {
      text-align: center;
    }

    .close-button {
      cursor: pointer;
      display: block;
      height: 46px;
      line-height: 46px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 46px;
    }
  }

  .options-page-content {
    margin-left: 0;
    margin-right: 0;

    .options-list {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }

    header {
      width: 100%;
    }

    li {
      span {
        cursor: pointer;
      }

      span:hover {
        background: transparent;
      }
    }

    button {
      display: block;
      margin: auto;
      margin-top: 15px;
    }
  }
}

.show-theme-editor #custom-theme-page {
  left: 0;
}

.recentbgs-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

.theme-instance {
  align-items: center;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-width: 0;
  border-radius: 5px;
  border-top-width: 0;
  cursor: pointer;
  display: flex;
  height: 75px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(1px, 1px, 1px, 0.5);
  text-transform: capitalize;
  transition: 0.1s all ease;
  width: 115px;

  &:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 14px;
    margin-top: 6px;
  }

  &:active {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  .theme-text {
    background: transparent !important;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .delete-btn {
    background-color: #c0392b;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 14px;
    height: 20px;
    padding: 3px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;

    &:hover {
      background-color: #e74c3c;
    }
  }

  &:hover .delete-btn {
    display: block;
  }
}

.file-input-label {
  display: block;
  margin: 10px;

  &.disabled {
    background: #e0e0e0;
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }
}

.helper-text {
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
  margin: 0 auto 10px 10px;
  width: 100%;
}

.file-input-label {
  display: block;
  margin: 10px;
}

.file-input-label {
  display: block;
  margin: 10px;
}

.win32 .options-page {
  top: 30px;
}

.win32 #toolbar {
  .bani-list {
    width: 470px;
  }

  .close-overlay-ui {
    top: $presenter-pane-gap + $title-bar-offset;
  }
}

.controller.scale-viewer.presenter-view.win32 {
  .nav-page:nth-child(1),
  #menu-page,
  #shabad-menu-page {
    @include calculateTop(0, 1);
  }

  #navigator.kb-active {
    $height: calc(
      50% - calc(#{$presenter-pane-gap * 3} + #{$title-bar-offset}) - calc(#{$keyboard-height} / 2)
    );

    /* .nav-page {
      &:nth-child(1) {
        height: $height;
      }

      &:nth-child(1) { @include calculateTop(0,1,$keyboard-height); }
    } */
  }

  #toolbar {
    padding-top: calc(#{$title-bar-offset} + 10px);

    .bani-list {
      height: calc(100vh - calc(#{$presenter-pane-gap * 2} + #{$title-bar-offset}));
      top: $presenter-pane-gap + $title-bar-offset;
      width: $bani-list-width;
    }

    .bani-extras {
      top: $presenter-pane-gap + $title-bar-offset;
    }
  }
}
