$presenter-pane-gap: 25px;
$title-bar-offset: 25px;
$keyboard-height:128px;

@mixin calculateTop ($row-num, $is-windows:0, $keyboard-offset:0) {
  $screen-offset: 50 * $row-num;
  $pane-gap-ratio: 1;

  @if $row-num == 1 {
    $pane-gap-ratio: 0.5;
  }

  @if $is-windows == 0 {
    top: calc(#{$screen-offset}% + #{($presenter-pane-gap * $pane-gap-ratio) + $keyboard-offset});
  }

  @else if $is-windows == 1 {
    top: calc(#{$screen-offset}% + #{$presenter-pane-gap + $title-bar-offset + $keyboard-offset});
  }
}

@import
  "controller.scss",
  "markdown",
  "theme-dark",
  "theme-light",
  "theme-khalsa-gold",
  "theme-baagi-blue",
  "theme-khalsa-rush",
  "theme-moody-blue",
  "theme-a-new-day",
  "theme-black-blue",
  "theme-high-contrast",
  "theme-low-light",
  "theme-blue-darbar",
  "theme-floral",
  "update",
  "viewer",
  "window",
  "akhandpaatt",
  "overlay",
  "animations",
  "noty";

a {
  cursor: default;
}

.hidden {
  display: none;
}

#app-frame {
  height: 100%;
}

#main-viewer,
#viewer {
  height: 100%;
  width: 100%;
}

.color-overlay {
  display: none;
}

body.show-overlay {
  .color-overlay {
    display: block;
    opacity: 0.7;
    position: fixed;
    z-index: 0;
  }
}

#navigator {
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  height: 300px;
  position: fixed;
  right: 0;
  transition: height $transition-time $transition-easing;
  width: 470px;

  &.minimized {
    height: 40px;
  }
}

.darwin #navigator {
  width: 500px;
}

.presenter-view.scale-viewer #navigator {
  transition: none;
}

.controller.scale-viewer.presenter-view {
  #navigator {
    bottom: $presenter-pane-gap;
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    right: $presenter-pane-gap;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
  }

  #header {
    .navigator-header {
      display: none;
    }
  }

  .preferences-open {
    display: none;
  }

  #search-page .preferences-open {
    display: block;
  }

  .fixed-takeover-pages {
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    position: fixed;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
  }

  #custom-slides-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;

    @include calculateTop(1);
  }

  #menu-page,
  #shabad-menu-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;

    @include calculateTop(0);
  }

  .nav-page {
    display: block;
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    position: fixed;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));

    &:nth-child(1) {
      left: $presenter-pane-gap;

      @include calculateTop(0);
    }

    &:nth-child(2) {
      height: calc(50% - calc(#{$presenter-pane-gap} * 1.5) - 40px);
      left: auto;
      right: $presenter-pane-gap;

      @include calculateTop(1);
    }

    &:nth-child(3) {
      left: $presenter-pane-gap;

      @include calculateTop(1);
    }

    .current-shabad-header {
      border-bottom: 2px solid transparent;
      transition: 0.5s border ease;
    }

    &:focus {
      outline: 0;

      .current-shabad-header {
        border-bottom-color: #01579b;
      }
    }
  }

  #navigator.kb-active {
    $height:calc(50% - calc(#{$presenter-pane-gap} * 3) - calc(#{$keyboard-height} / 2));

    /* .nav-page {
      &:nth-child(1) {
        height: $height;
      }

      &:nth-child(1) { @include calculateTop(0,0,$keyboard-height); }
    } */
  }

  #footer {
    .menu-group-left {
      display: none;
    }
  }
}

.scale-viewer {
  #main-viewer {
    border-style: solid;
    border-width: 1px;
    position: fixed;
    transform-origin: right top;
  }
}

.options-page {
  background: #f0f0f0;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: -400px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: 1s all ease;
  width: 300px;
  z-index: 4;

  .options-page-header {
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;

    .options-header-text {
      text-align: center;
    }

    .close-button {
      cursor: pointer;
      display: block;
      height: 46px;
      line-height: 46px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 46px;
    }
  }

  .options-page-content {
    margin-left: 0;
    margin-right: 0;

    .options-list {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }

    header {
      width: 100%;
    }

    li {
      span {
        cursor: pointer;
      }

      span:hover {
        background: transparent;
      }
    }

    button {
      display: block;
      margin: auto;
      margin-top: 15px;
    }
  }
}

.show-theme-editor #custom-theme-page {
  left: 0;
}

.recentbgs-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

.theme-instance {
  align-items: center;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-width: 0;
  border-radius: 5px;
  border-top-width: 0;
  cursor: pointer;
  display: flex;
  height: 75px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(1px, 1px, 1px, 0.5);
  text-transform: capitalize;
  transition: 0.1s all ease;
  width: 115px;

  &:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 14px;
    margin-top: 6px;
  }

  &:active {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  .theme-text {
    background: transparent !important;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .delete-btn {
    background-color: #c0392b;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 14px;
    height: 20px;
    padding: 3px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;

    &:hover {
      background-color: #e74c3c;
    }
  }

  &:hover .delete-btn {
    display: block;
  }
}

.file-input-label {
  display: block;
  margin: 10px;

  &.disabled {
    background: #e0e0e0;
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }
}

.helper-text {
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
  margin: 0 auto 10px 10px;
  width: 100%;
}

.file-input-label {
  display: block;
  margin: 10px;
}

.file-input-label {
  display: block;
  margin: 10px;
}

.win32 .options-page {
  top: 30px;
}

.controller.scale-viewer.presenter-view.win32 {
  .nav-page:nth-child(1),
  #menu-page,
  #shabad-menu-page { @include calculateTop(0, 1); }

  #navigator.kb-active {
    $height: calc(50% - calc(#{$presenter-pane-gap * 3} + #{$title-bar-offset}) - calc(#{$keyboard-height} / 2));

    /* .nav-page {
      &:nth-child(1) {
        height: $height;
      }

      &:nth-child(1) { @include calculateTop(0,1,$keyboard-height); }
    } */
  }
}
