$presenter-pane-gap: 25px;
$titlebar-offset: 25px;

@import
  "../../core/scss/styles.scss",
  "changelog",
  "theme-dark",
  "theme-light",
  "update",
  "viewer",
  "window";

a {
  cursor: default;
}

#app-frame {
  height: 100%;
}

#main-viewer,
#viewer {
  height: 100%;
  width: 100%;
}

#navigator {
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  height: 260px;
  position: fixed;
  right: 0;
  width: 425px;
}

.controller.scale-viewer.presenter-view {
  #navigator {
    bottom: $presenter-pane-gap;
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    right: $presenter-pane-gap;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
  }

  #header {
    .navigator-header {
      display: none;
    }
  }

  .preferences-open {
    display: none;
  }

  #search-page .preferences-open {
    display: block;
  }

  .fixed-takeover-pages {
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    position: fixed;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
  }

  #custom-slides-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;
    top: calc(50% + calc(#{$presenter-pane-gap + $titlebar-offset} * 0.5));
  }

  #menu-page {
    @extend .fixed-takeover-pages;

    left: $presenter-pane-gap;
    top: $presenter-pane-gap + $titlebar-offset;
  }

  .nav-page {
    display: block;
    height: calc(50% - calc(#{$presenter-pane-gap} * 1.5));
    position: fixed;
    width: calc(50% - calc(#{$presenter-pane-gap} * 1.5));

    &:nth-child(1) {
      left: $presenter-pane-gap;
      top: $presenter-pane-gap + $titlebar-offset;
    }

    &:nth-child(2) {
      height: calc(50% - calc(#{$presenter-pane-gap} * 1.5) - 40px);
      left: auto;
      right: $presenter-pane-gap;
      top: calc(50% + calc(#{$presenter-pane-gap + $titlebar-offset} * 0.5));
    }

    &:nth-child(3) {
      left: $presenter-pane-gap;
      top: calc(50% + calc(#{$presenter-pane-gap + $titlebar-offset} * 0.5));
    }
  }

  #navigator.kb-active {
    .nav-page {
      &:nth-child(1),
      &:nth-child(2) {
        height: calc(50% - calc(#{$presenter-pane-gap} * 1.5) - calc(128px / 2));
      }

      &:nth-child(1) {
        top: calc(#{$presenter-pane-gap + $titlebar-offset} + 128px);
      }

      &:nth-child(2) {
        top: calc(50% + calc(#{$presenter-pane-gap + $titlebar-offset} * 0.5) + calc(128px / 2));
      }
    }
  }

  #footer {
    .menu-group-left {
      display: none;
    }
  }
}

.scale-viewer {
  #main-viewer {
    border-style: solid;
    border-width: 1px;
    position: fixed;
    transform-origin: right top;
  }
}
