@import
  "../../core/scss/styles.scss",
  "changelog",
  "theme-dark",
  "theme-light",
  "update",
  "viewer",
  "window";

#app-frame {
  height: 100%;
}

#viewer {
  height: 100%;
  width: 100%;
}

#navigator {
  bottom: 0;
  height: 260px;
  position: fixed;
  right: 0;
  width: 425px;
}
