$viewer-gurmukhi-font-family: 'gurbaniakharthick';
$viewer-padding: 30px;

/* Toggle vishraam settings based on if vishraams are visible */
#settings {
  .block-list {
    overflow-y: hidden;
  }

  #setting-container-toolbar-vishraam-vishraam-options,
  #setting-container-toolbar-vishraam-vishraam-source {
    display: none;
  }
}

.display-visraams #settings {
  #setting-container-toolbar-vishraam-vishraam-options,
  #setting-container-toolbar-vishraam-vishraam-source {
    display: flex;
  }
}

@font-face {
  font-family: $viewer-gurmukhi-font-family;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/gurbaniakharthicktrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'AnmolUniBaniTrue';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AnmolUniBaniTrue.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  cursor: default;
}

body {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[contenteditable='true']:empty:not(:focus)::before {
  content: attr(data-placeholder);
  display: block;
}

#viewer {
  margin: 0;
  overflow: auto;
  padding: #{$viewer-padding};
  text-align: center;

  .gurmukhi {
    font-family: $viewer-gurmukhi-font-family;
  }
}

.ribbon {
  background-image: url('../../assets/img/custom_backgrounds/embellishes/floral.png');
  height: 100px;
  position: fixed;
  visibility: hidden;
  width: 100px;
}

#ribbon1 {
  left: 25px;
  top: 25px;
  transform: rotate(90deg);
}

#ribbon2 {
  bottom: 25px;
  right: 25px;
  transform: rotate(270deg);
}

.left-align {
  #viewer {
    text-align: left;

    .viewer-controls {
      text-align: center;
    }
  }
}

.deck {
  height: calc(100% - 100px);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: opacity 400ms ease-out;
  width: calc(100% - #{$viewer-padding} * 2);
  z-index: 10;

  &.active {
    opacity: 1;
  }
}

.overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.slide {
  flex-flow: column nowrap;
  height: calc(100% - 250px);
  justify-content: flex-start;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 10;

  &.active {
    opacity: 1;
  }
}

.viewer .slide {
  display: flex;
  height: 100%;
}

h1,
h2 {
  margin: 0;
  transition: all $transition-time $transition-easing;
}

.gurbani {
  font-weight: normal;
  line-height: 1.5;

  .padchhed {
    span {
      white-space: nowrap;

      i {
        font-size: 0;
        margin-left: 1rem;
      }
    }
  }

  .larivaar {
    display: none;

    i {
      display: none;
      font-style: normal;
    }
  }
}

.larivaar {
  .gurbani {
    .padchhed {
      display: none;
    }

    .larivaar {
      display: inline;
    }
  }
}

.translation,
.transliteration {
  font-weight: 700;
  line-height: 1.5;
}

.transliteration {
  text-transform: lowercase;
}

.teeka {
  font-family: 'gurbaniakhar';
  line-height: 1.5;
  margin-top: 0.25em;
}

.translation,
.transliteration,
.teeka {
  display: none;
  height: 0;
  opacity: 0;
}

.display-translation .translation,
.display-transliteration .transliteration,
.display-teeka .teeka {
  display: block;
  height: auto;
  opacity: 1;
}

.icons-translation .size,
.icons-transliteration .size,
.icons-teeka .size {
  opacity: 0.4;
  z-index: -1;
}

.display-translation .icons-translation,
.display-transliteration .icons-transliteration,
.display-teeka .icons-teeka {
  .size {
    opacity: 1;
    z-index: 20;
  }

  .visibility i {
    &::before {
      content: '\f06e';
    }
  }
}

/* ***** FONT SIZES ***** */
@for $i from 1 through 20 {
  .gurbani-#{$i} .gurbani,
  .translation-#{$i} .translation,
  .transliteration-#{$i} .transliteration,
  .teeka-#{$i} .teeka {
    font-size: #{$i}vh;
  }
}

.logo {
  display: none;
  height: 20%;
  left: 12px;
  position: fixed;
  top: 20%;

  path {
    fill: #c8c8c8;
  }
}

.viewer {
  .slide {
    display: flex;
    height: 100%;
    justify-content: space-between;

    &#announcement-slide {
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
    }
  }

  #viewer-logo {
    bottom: 20px;
    display: block;
    height: 3.5%;
    top: auto;
  }
}

.vc-toggle-icon {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: none;
  font-size: 5vh;
  justify-content: space-around;
  left: -30vh;
  padding-bottom: 6px;
  padding-top: 12px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28vh;
  z-index: 50;

  .vc-icon-hidden {
    display: none;
  }

  .vc-label {
    font-size: 3vh;
    font-weight: bold;
  }
}

.quick-tools {
  .viewer-controls,
  &.webview .vc-toggle-icon {
    display: flex;
    opacity: 0.9;
  }
}

.viewer-controls {
  align-items: center;
  background-color: #e0e0e0;
  display: none;
  flex-direction: column;
  height: 0;
  justify-content: space-around;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all $transition-time $transition-easing;
  width: 28vh;
  z-index: 20;

  .icons-gurbani {
    margin-top: 16px;
  }
}

.viewer-controls-open {
  height: 100vh;
}

.iconset {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  p {
    flex-basis: 100%;
    font-size: 3vh;
    font-weight: bold;
    text-transform: capitalize;
  }

  span {
    align-items: center;
    border: 4px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
  }

  span {
    font-size: 4vh;
    height: 6vh;
    width: 6vh;
  }

  &.icons-gurbani .visibility {
    display: none;
  }
}

.presenter-view.webview {
  .viewer-controls {
    width: 30vh;

    .iconset {
      p {
        font-size: 4vh;
        font-weight: bold;
      }

      span {
        font-size: 5vh;
        height: 7vh;
        width: 7vh;
      }
    }
  }

  .vc-toggle-icon {
    width: 30vh;
  }
}

@import 'display-next-line', 'win32';
