$viewer-gurmukhi-font-family: 'gurbaniakharthick';

@font-face {
  font-family: $viewer-gurmukhi-font-family;
  font-style: normal;
  font-weight: normal;
  src: url('../../core/fonts/gurbaniakharthicktrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'AnmolUniBaniTrue';
  font-style: normal;
  font-weight: normal;
  src: url('../../core/fonts/AnmolUniBaniTrue.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

#viewer {
  margin: 0;
  overflow: auto;
  padding: 30px;
  text-align: center;

  .gurmukhi {
    font-family: $viewer-gurmukhi-font-family;
  }
}

.left-align {
  #viewer {
    text-align: left;
  }
}

.deck {
  height: calc(100% - 100px);
  opacity: 0;
  position: absolute;
  transition: opacity 400ms ease-out;
  width: calc(100% - 60px);

  &.active {
    opacity: 1;
  }
}

.slide {
  flex-flow: column nowrap;
  height: calc(100% - 250px);
  justify-content: flex-start;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms ease-out;
  width: 100%;

  &.active {
    opacity: 1;
  }
}

body.viewer .slide {
  display: flex;
  height: 100%;
}

h1,
h2 {
  cursor: default;
  margin: 0 0 20px;
}

.gurbani {
  font-weight: normal;
  line-height: 1.3;

  i {
    font-size: 0;
    font-style: normal;
    white-space: nowrap;

    span:last-child {
      margin-left: 1rem;
    }
  }
}

.larivaar {
  .gurbani {
    div {
      font-size: 0;
    }

    i,
    span {
      vertical-align: bottom;
      white-space: nowrap;
    }
  }
}

.translation,
.transliteration {
  font-weight: 700;
  line-height: 1.2;
}

.transliteration {
  text-transform: lowercase;
}

.teeka {
  font-family: 'AnmolUniBaniTrue';
  line-height: 1.5;
}

.translation,
.transliteration,
.teeka {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity $transition-time $transition-easing;
}

.display-translation .translation,
.display-transliteration .transliteration,
.display-teeka .teeka {
  height: auto;
  opacity: 1;
}

/* ***** FONT SIZES ***** */
@for $i from 1 through 12 {
  .gurbani-#{$i} .gurbani,
  .gurbani-#{$i} .gurbani span,
  .translation-#{$i} .translation,
  .transliteration-#{$i} .transliteration,
  .teeka-#{$i} .teeka {
    font-size: #{$i}vh;
  }
}

.logo {
  display: none;
  height: 20%;
  left: 50%;
  position: fixed;
  top: 20%;
  transform: translateX(-50%);

  path {
    fill: #c8c8c8;
  }
}

.home #previewer-logo {
  display: block;
}

.viewer {
  #viewer-logo {
    bottom: 20px;
    display: block;
    height: 5.5%;
    top: auto;
  }

  .slide {
    justify-content: space-between;
  }
}

@import
  "theme-dark",
  "theme-light",
  "win32";
