@font-face {
  font-family: 'Muli';
  src: url('english/Muli.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  src: url('english/Caveat.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Serif';
  src: url('english/PT-Serif.ttf') format('truetype');
}

@font-face {
  font-family: 'Anmol Lipi';
  src: url('AnmolLipiSG.ttf') format('truetype');
}

@font-face {
  font-family: 'Anmol Lipi Bold';
  src: url('AnmolLipiBoldTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSansGurmukhiTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Bold';
  src: url('NotoSansGurmukhiBoldTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'Prabhki';
  src: url('Prabhki.ttf') format('truetype');
}

@font-face {
  font-family: 'Gurbani Akhar';
  src: url('gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Gurbani Akhar Heavy';
  src: url('gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Gurbani Akhar Thick';
  src: url('gurbaniakharthicktrue-webfont.ttf') format('truetype');
}
