@font-face {
  font-family: 'gurbaniakhar';
  font-style: normal;
  font-weight: normal;
  src: url('gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakhar';
  font-style: normal;
  font-weight: bold;
  src: url('gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakharthick';
  font-style: normal;
  font-weight: normal;
  src: url('gurbaniakharthicktrue-webfont.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
}

.gurmukhi {
  font-family: 'gurbaniakhar';
}

.content-bar {
  color: rgba(241, 196, 15, 1);
  left: 0;
  margin: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  text-align: center;
  width: 100%;
}

.content-top,
.content-bottom {
  background: rgba(44, 62, 80, 0.9);
  width: 100%;
}

.o-gurbani {
  font-family: 'gurbaniakharthick';
}

.o-teeka {
  font-family: 'gurbaniakhar';
}

.o-transliteration,
.o-teeka {
  display: none;
}

.o-transliteration,
.o-translation {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout-top {
  .content-top {
    padding-top: 3vh;
  }
}

.layout-bottom {
  .overlay-wrapper {
    bottom: 0;
    position: absolute;
  }

  .content-bottom {
    padding-bottom: 3vh;
  }
}

.layout-split {
  .overlay-wrapper {
    height: 100%;
  }

  .content-top {
    padding-top: 3vh;
  }

  .content-bottom {
    padding-bottom: 3vh;
  }

  .o-teeka,
  .o-transliteration {
    display: block;
  }

  .content-bottom {
    bottom: 0;
    position: absolute;
  }
}

.content-top,
.content-bottom {
  &.never-forget {
    background: #000;
    color: #f00;
    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #f00;
    }
  }

  &.khalsa-gold {
    background: #58330a;
    color: #ffba00;

    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #ffba00;
    }
  }

  &.baagi-blue {
    background: #274f69;
    color: #fff;

    .o-translation,
    .o-teeka,
    .o-gurbani {
      color: #fff;
    }

    .o-transliteration {
      color: #a0d5fe;
    }
  }

  &.khalsa-rush {
    background: #ffa61a;
    color: #071f77;

    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #071f77;
    }
  }

  &.moody-blue {
    background: #2d73a7;
    color: #fff;

    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #fff;
    }
  }

  &.a-new-day {
    background: #97d6f7;
    color: #0e2654;

    .o-translation,
    .o-teeka {
      color: #003a8c;
    }
    .o-gurbani,
    .o-transliteration {
      color: #0e2654;
    }
  }

  &.black-and-blue {
    background: #000;
    color: #fff;

    .o-gurbani,
    .o-transliteration {
      color: #fff;
    }

    .o-teeka,
    .o-translation {
      color: #a3eafd;
    }
  }

  &.floral {
    background: #f5b7d1;
    color: #460a1e;

    .o-gurbani,
    .o-transliteration {
      color: #460a1e;
    }

    .o-teeka,
    .o-translation {
      color: #821d3e;
    }
  }
}
