@font-face {
  font-family: 'gurbaniakhar';
  font-style: normal;
  font-weight: normal;
  src: url('gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakhar';
  font-style: normal;
  font-weight: bold;
  src: url('gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakharthick';
  font-style: normal;
  font-weight: normal;
  src: url('gurbaniakharthicktrue-webfont.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
}

.gurmukhi {
  font-family: 'gurbaniakhar';
}

.content-bar {
  color: rgba(241, 196, 15, 1);
  left: 0;
  margin: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  text-align: center;
  width: 100%;
}

.content-top,
.content-bottom {
  background: rgba(44, 62, 80, 0.9);
  width: 100%;
}

.o-gurbani {
  font-family: 'gurbaniakharthick';
}

.o-transliteration,
.o-teeka {
  display: none;
}

.layout-top {
  .content-top {
    padding-top: 3vh;
  }
}

.layout-bottom {
  .overlay-wrapper {
    bottom: 0;
    position: absolute;
  }

  .content-bottom {
    padding-bottom: 3vh;
  }
}

.layout-split {
  .overlay-wrapper {
    height: 100%;
  }

  .content-top {
    padding-top: 3vh;
  }

  .content-bottom {
    padding-bottom: 3vh;
  }

  .o-teeka,
  .o-transliteration {
    display: block;
  }

  .content-bottom {
    bottom: 0;
    position: absolute;
  }
}
