@font-face {
  font-family: 'muli';
  src: url('english/Muli.ttf') format('truetype');
}

@font-face {
  font-family: 'caveat';
  src: url('english/Caveat.ttf') format('truetype');
}

@font-face {
  font-family: 'ptserif';
  src: url('english/PT-Serif.ttf') format('truetype');
}

@font-face {
  font-family: 'anmollipi';
  src: url('AnmolLipiSG.ttf') format('truetype');
}

@font-face {
  font-family: 'anmollipi';
  font-weight: bold;
  src: url('AnmolLipiBoldTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'notosans';
  src: url('NotoSansGurmukhiTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'notosans';
  font-weight: bold;
  src: url('NotoSansGurmukhiBoldTrue.ttf') format('truetype');
}

@font-face {
  font-family: 'prabhki';
  src: url('Prabhki.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakhar';
  font-style: normal;
  font-weight: normal;
  src: url('gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakhar';
  font-style: normal;
  font-weight: bold;
  src: url('gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'gurbaniakharthick';
  font-style: normal;
  font-weight: normal;
  src: url('gurbaniakharthicktrue-webfont.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

.overlay-wrapper {
  position: relative;
  width: 100%;
}

.gurmukhi {
  font-family: 'gurbaniakhar';
}

.content-bar {
  left: 0;
  margin: auto;
  padding: 0 3vw;
  position: relative;
  text-align: center;
  width: 100%;
}

.content-top,
.content-bottom {
  background: rgba(44, 62, 80, 0.9);
  width: 100%;
}

.o-gurbani {
  font-family: 'gurbaniakharthick';
}

.o-teeka {
  font-family: 'gurbaniakhar';
}

.o-transliteration,
.o-teeka {
  display: none;
}

.o-transliteration,
.o-translation {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout-top {
  .content-top {
    padding-top: 3vh;
  }

  .o-gurbani,
  .o-translation {
    padding: 0.5% 3vw;
  }

  .logo-wrapper {
    bottom: 2vh;
  }
}

.layout-bottom {
  .overlay-wrapper {
    bottom: 0;
    position: absolute;
  }

  .content-bottom {
    padding-bottom: 3vh;
  }

  .o-gurbani,
  .o-translation {
    padding: 0.5% 3vw;
  }

  .logo-wrapper {
    top: 2vh;
  }
}

.layout-classic {
  .overlay-wrapper {
    background: transparent;
    bottom: 10%;
    left: 5%;
    position: absolute;
    width: 90%;
  }
  .content-bar {
    background: transparent;
    padding: 0;
    width: auto;
  }
  .logo-wrapper {
    border-radius: 2px;
    top: 2vh;
  }

  .o-gurbani,
  .o-translation {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: inline-table;
    margin: 0;
    padding: 5px;

    &:empty {
      display: none;
    }
  }

  .o-teeka,
  .o-transliteration {
    display: none;
  }
}

.layout-vertical {
  .overlay-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
  }

  .content-top,
  .content-bottom {
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: space-evenly;
  }

  .logo-wrapper {
    background: transparent;
    display: block;
    height: 100px;
    position: relative;
    width: 100%;
    .sttm-logo {
      display: none;
    }
    .sttm-logo-white {
      display: block;
      margin: auto;
    }
  }

  .o-teeka,
  .o-transliteration {
    display: block;
  }
}

.layout-vertical-left {
  @extend .layout-vertical;

  .overlay-wrapper {
    left: 0;
  }
}

.layout-split {
  .overlay-wrapper {
    height: 100%;
  }

  .content-bars-bottom {
    bottom: 0;
    padding-right: 16vw;
    position: absolute;
    width: 100vw;
  }

  .content-top {
    padding-top: 3vh;
  }

  .content-bottom {
    position: static;
    padding-bottom: 3vh;
  }

  .o-teeka,
  .o-transliteration {
    display: block;
  }

  .content-bar {
    padding: 0.5% 3vw;
  }

  .logo-wrapper {
    border-radius: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
  }
}

.content-top,
.content-bottom {
  &.never-forget {
    color: #f00;
    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #f00;
    }
  }

  &.khalsa-gold {
    color: #ffba00;

    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #ffba00;
    }
  }

  &.baagi-blue {
    color: #fff;

    .o-translation,
    .o-teeka,
    .o-gurbani {
      color: #fff;
    }

    .o-transliteration {
      color: #a0d5fe;
    }
  }

  &.khalsa-rush {
    color: #071f77;

    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #071f77;
    }
  }

  &.moody-blue {
    color: #fff;

    .o-translation,
    .o-teeka,
    .o-gurbani,
    .o-transliteration {
      color: #fff;
    }
  }

  &.a-new-day {
    color: #0e2654;

    .o-translation,
    .o-teeka {
      color: #003a8c;
    }
    .o-gurbani,
    .o-transliteration {
      color: #0e2654;
    }
  }

  &.black-and-blue {
    color: #fff;

    .o-gurbani,
    .o-transliteration {
      color: #fff;
    }

    .o-teeka,
    .o-translation {
      color: #a3eafd;
    }
  }

  &.floral {
    color: #460a1e;

    .o-gurbani,
    .o-transliteration {
      color: #460a1e;
    }

    .o-teeka,
    .o-translation {
      color: #821d3e;
    }
  }
}

.logo-wrapper {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  padding: 2vh 2vw;
  position: fixed;
  right: 2vh;

  .sttm-logo,
  .sttm-logo-white {
    width: 12vw;
  }

  .sttm-logo-white {
    display: none;
  }
}

.logo-off {
  .content-bars-bottom {
    padding-right: 0;
  }

  .logo-wrapper {
    display: none;
  }
}
